.odash-action-bar {
  margin-top: 70px; }
  .odash-action-bar > div > div:first-child {
    width: 400px;
    display: inline-block;
    float: left; }
    .odash-action-bar > div > div:first-child input {
      width: calc(100% - 34px);
      margin-left: 10px;
      border-bottom: 2px solid #ddd;
      padding: 5px 0 5px 0; }
      .odash-action-bar > div > div:first-child input:focus {
        outline: none;
        border-bottom: 2px solid #384047; }
  .odash-action-bar > div > div:last-child {
    display: inline-block;
    margin-left: 20px; }
    .odash-action-bar > div > div:last-child button {
      margin-right: 10px;
      border: 2px solid #5a6772;
      color: #5a6772;
      font-weight: 600; }
      .odash-action-bar > div > div:last-child button:hover {
        border-color: #384047;
        background-color: white;
        color: #384047; }

.odash-users, .odash-groups {
  margin-top: 30px; }
  .odash-users table, .odash-groups table {
    border-top: 2px solid #ddd; }
    .odash-users table a.fa, .odash-groups table a.fa {
      text-decoration: none; }
      .odash-users table a.fa:hover, .odash-groups table a.fa:hover {
        color: #ffa500; }

#addGroup .circled-radio input[type="radio"], #addUser .circled-radio input[type="radio"] {
  display: none; }

#addGroup .circled-radio input[type="radio"] + .label-text:before, #addUser .circled-radio input[type="radio"] + .label-text:before {
  content: "\f10c";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  margin-right: 7px; }

#addGroup .circled-radio input[type="radio"]:checked + .label-text:before, #addUser .circled-radio input[type="radio"]:checked + .label-text:before {
  content: "\f111"; }

#addGroup .modal-body > div, #addUser .modal-body > div {
  margin-bottom: 25px; }
  #addGroup .modal-body > div p, #addUser .modal-body > div p {
    margin-bottom: 5px; }

#confirmPopup .modal-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

#confirmPopup .modal-header {
  border-bottom: none; }

#confirmPopup h3 {
  text-transform: uppercase;
  font-weight: 600;
  color: #384047; }
