@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800);
.light {
  font-weight: 300; }

.bold {
  font-weight: 600; }

.top-odash-banner {
  position: relative;
  height: 150px;
  background: url("../../../img/pattern.png");
  border-bottom: 1px solid #eee; }
  .top-odash-banner h2 {
    margin-top: 40px;
    color: #384047;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
  .top-odash-banner .view-switcher {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 125px);
    width: 250px; }
    .top-odash-banner .view-switcher button {
      width: 50%;
      padding: 12px 24px;
      color: #5a6772;
      font-family: "Raleway", Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 600;
      float: left;
      border: 2px solid #384047;
      outline: none; }
      .top-odash-banner .view-switcher button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .top-odash-banner .view-switcher button:last-child {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      .top-odash-banner .view-switcher button:hover {
        color: #384047;
        background-color: white; }
      .top-odash-banner .view-switcher button:focus {
        outline: none; }
  .top-odash-banner .switchSelected {
    color: white !important;
    background-color: #384047; }
    .top-odash-banner .switchSelected:hover {
      color: white !important;
      background-color: #384047 !important; }

.odash-action-bar {
  margin-top: 70px; }
  .odash-action-bar > div > div:first-child {
    width: 400px;
    display: inline-block;
    float: left; }
    .odash-action-bar > div > div:first-child input {
      width: calc(100% - 34px);
      margin-left: 10px;
      border-bottom: 2px solid #ddd;
      padding: 5px 0 5px 0; }
      .odash-action-bar > div > div:first-child input:focus {
        outline: none;
        border-bottom: 2px solid #384047; }
  .odash-action-bar > div > div:last-child {
    display: inline-block;
    margin-left: 20px; }
    .odash-action-bar > div > div:last-child button {
      margin-right: 10px;
      border: 2px solid #5a6772;
      color: #5a6772;
      font-weight: 600; }
      .odash-action-bar > div > div:last-child button:hover {
        border-color: #384047;
        background-color: white;
        color: #384047; }

.odash-users, .odash-groups {
  margin-top: 30px; }
  .odash-users table, .odash-groups table {
    border-top: 2px solid #ddd; }
    .odash-users table a.fa, .odash-groups table a.fa {
      text-decoration: none; }
      .odash-users table a.fa:hover, .odash-groups table a.fa:hover {
        color: #ffa500; }

#addGroup .circled-radio input[type="radio"], #addUser .circled-radio input[type="radio"] {
  display: none; }

#addGroup .circled-radio input[type="radio"] + .label-text:before, #addUser .circled-radio input[type="radio"] + .label-text:before {
  content: "\f10c";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  margin-right: 7px; }

#addGroup .circled-radio input[type="radio"]:checked + .label-text:before, #addUser .circled-radio input[type="radio"]:checked + .label-text:before {
  content: "\f111"; }

#addGroup .modal-content, #addUser .modal-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

#addGroup .modal-header, #addUser .modal-header {
  padding-left: 30px; }
  #addGroup .modal-header h3, #addUser .modal-header h3 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px; }

#addGroup .modal-body, #addUser .modal-body {
  padding: 30px; }
  #addGroup .modal-body p, #addUser .modal-body p {
    margin-bottom: 2px; }
  #addGroup .modal-body input[type="text"], #addGroup .modal-body input[type="email"], #addGroup .modal-body input[type="password"], #addUser .modal-body input[type="text"], #addUser .modal-body input[type="email"], #addUser .modal-body input[type="password"] {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 5px 0 5px 0;
    margin-bottom: 15px;
    width: 60%; }
    #addGroup .modal-body input[type="text"]:focus, #addGroup .modal-body input[type="email"]:focus, #addGroup .modal-body input[type="password"]:focus, #addUser .modal-body input[type="text"]:focus, #addUser .modal-body input[type="email"]:focus, #addUser .modal-body input[type="password"]:focus {
      outline: none;
      border-bottom: 2px solid #384047; }

#confirmPopup .modal-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

#confirmPopup .modal-header {
  border-bottom: none; }

#confirmPopup h3 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #384047; }
