@media (max-width: 1440px) and (min-width: 993px) {
  .odash .tileIconLeft {
    width: 11%; } }

@media (max-width: 1440px) and (min-width: 993px) {
  .odash .tileBody {
    margin-right: 5.66666667%; } }

.odash #addGroup .modal-body > div, .odash #addUser .modal-body > div {
  margin-bottom: 25px; }
  .odash #addGroup .modal-body > div p, .odash #addUser .modal-body > div p {
    margin-bottom: 5px; }

.odash #addGroup .modal-body table, .odash #addUser .modal-body table {
  margin-bottom: 0; }

.odash #addGroup .secondary_button, .odash #addUser .secondary_button {
  margin-right: 15px; }

.odash #addGroup .error_tile, .odash #addUser .error_tile {
  padding-left: 30px; }

@media (max-width: 600px) {
  .odash .media_adapt {
    width: 100%;
    left: 0;
    width: 100%;
    left: 0; }
  .odash h1 {
    font-size: 28px; }
  .odash .sub_section_switcher button {
    font-size: 16px; }
  .odash .tile .tileBottomGroup {
    display: none; } }

.groupC .secondary_button {
  margin-right: 15px; }

.groupC .disabled {
  border: 0 !important; }

.groupC .groupC_info table thead th {
  border: none; }

.groupC .groupC_info table tbody tr td:first-child {
  padding-top: 14px; }

.groupC .groupC_info table tbody tr:first-child td {
  border: none; }

.groupC .groupC_info table tbody tr:last-child td:last-child {
  padding-top: 14px;
  padding-left: 14px; }

.groupC .groupC_info input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 6px; }
  .groupC .groupC_info input:focus {
    border: 1px solid #42A5F5; }

.groupC .groupC_info textarea {
  width: 100%;
  height: 80px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  outline: none; }
  .groupC .groupC_info textarea:focus {
    border: 1px solid #42A5F5; }

.groupC .groupC_info .main_button {
  margin-right: 15px; }

.groupC .groupC_members > div {
  border-bottom: 1px solid #ccc; }
  .groupC .groupC_members > div p, .groupC .groupC_members > div a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px; }
    .groupC .groupC_members > div p span, .groupC .groupC_members > div a span {
      color: #42A5F5; }
  .groupC .groupC_members > div > span {
    margin-top: 15px;
    color: #ccc;
    cursor: pointer; }
    .groupC .groupC_members > div > span:hover {
      color: #555; }

.groupC .deleteLink {
  padding-top: 3px;
  color: #ccc;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer; }
  .groupC .deleteLink:hover {
    color: #555; }

#addToGroup table, #changePlanner table {
  margin-bottom: 0; }

#addToGroup .secondary_button, #changePlanner .secondary_button {
  margin-right: 15px; }
