@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800);
.classic {
  font-weight: 400; }

.light {
  font-weight: 300; }

.bold {
  font-weight: 600; }

.reg-container {
  height: 100vh;
  background-color: #ffa500; }

.form-register {
  width: 40%;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #f59e00; }
  .form-register h2 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600; }
  .form-register > p {
    font-weight: 600; }
  .form-register input[type="email"], .form-register input[type="text"], .form-register input[type="password"] {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 5px 0 5px 0;
    margin-bottom: 25px;
    width: 80%;
    text-align: center; }
    .form-register input[type="email"]:focus, .form-register input[type="text"]:focus, .form-register input[type="password"]:focus {
      outline: none;
      border-bottom: 2px solid #384047; }
  .form-register button {
    background-color: #FFA500;
    color: white;
    border: none;
    width: 250px;
    padding: 12px 24px;
    text-transform: uppercase;
    outline: none;
    border-radius: 2px; }
    .form-register button:hover {
      background-color: #db8e00; }
