<div>
  <h1>Success! Your are logged</h1>
  <a href="/#/organization/profile">Profile</a>
  <button ng-click="dashOrgC.logout()">Logout</button>
  <interrors code="{{dashOrgC.code}}"></interrors>
  <div>
    <h2>Employees</h2>
    <input type="search" placeholder="search" ng-model="searchEmployee">
    <button class="btn btn-primary" data-target="#addEmployee" data-toggle="modal">Add employee</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Group</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="employee in dashOrgC.data.employees | filter:searchEmployee | limitTo:10">
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>
            <a href="/#/organization/groups/{{group.id}}" ng-repeat="group in employee.groups">{{group.name}}</p>
          </td>
          <td><a href="/#/organization/users/{{employee.id}}">GO</a></td>
        </tr>
      </tbody>
    </table>
    <p ng-show="dashOrgC.data.employees.length > 10">....</p>
  </div>
  <div>
    <h2>Groups</h2>
    <input type="search" placeholder="search" ng-model="searchGroup">
    <button class="btn btn-primary" data-toggle="modal" data-target="#addGroup">Add group</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Planner</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="group in dashOrgC.data.groups | filter:searchGroup | limitTo:10">
          <td>{{group.name}}</td>
          <td><a href="/#/organization/employees/{{group.planner_name}}"></a>{{group.planner_name}}</td>
          <td><a href="/#/organization/groups/{{group.id}}">GO</a></td>
        </tr>
      </tbody>
    </table>
    <p ng-show="dashOrgC.data.groups.length > 10">....</p>
  </div>
  <div id="addGroup" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Add group
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <p>Name</p>
            <input type="search" ng-model="dashOrgC.addGroup.name" >
            <p ng-show="dashOrgC.addGroup.invalidFields.nameReq">Insert a name</p>
            <p>Description</p>
            <p ng-show="dashOrgC.addGroup.invalidFields.descReq">Insert a desc</p>
            <input type="text" ng-model="dashOrgC.addGroup.desc">
            <table class="table">
              <thead>
                <th></th>
                <th>Member</th>
              </thead>
              <tbody>
                <tr ng-repeat="emp in dashOrgC.data.employees | filter: searchedPlanner" id="{{emp.id}}">
                  <td>{{emp.name}}</td>
                  <td ng-click="dashOrgC.addGroup.selectPlanner(emp.id)"><input type="checkbox" ng-model="dashOrgC.addGroup.members[emp.id]"></td>
                  <td ng-click=""><input type="radio" name="plannerasd" ng-model="dashOrgC.addGroup.planner" ng-value="emp.id"></td>
                </tr>
              </tbody>
            </table>
            <p ng-show="dashOrgC.addGroup.invalidFields.membersReq">Insert at least one member</p>
            <p ng-show="dashOrgC.addGroup.invalidFields.plannerReq">Insert one planner</p>
            <p ng-show="dashOrgC.addGroup.invalidFields.nonMatchingPlanner">Non matching planner</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="dashOrgC.addGroup.submit()">Create</button>
        </div>
      </div>
    </div>
  </div>
  <div id="addEmployee" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Add employee
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form name="addEmployeeForm" novalidate>
            <p>Name</p>
            <input type="text" ng-model="dashOrgC.addEmployee.name" required name="name">
            <p>Email</p>
            <input type="email" ng-model="dashOrgC.addEmployee.email" required name="email">
            <p>Password</p>
            <input ng-minlength="6" type="password" ng-model="dashOrgC.addEmployee.password" required name="password">
            <p>Password confirmation</p>
            <input type="password" ng-model="dashOrgC.addEmployee.confirmation_password" name="password_confirmation">
            {{dashOrgC.addEmployee.password_confirmation}}
            <p class="text-danger" ng-show="dashOrgC.addEmployee.invalidFields.nameReq">Insert a name</p>
            <p class="text-danger" ng-show="dashOrgC.addEmployee.invalidFields.passwordReq">Insert a password</p>
            <p class="text-danger" ng-show="dashOrgC.addEmployee.invalidFields.emailReq" required>Insert a mail</p>
            <p class="text-danger" ng-show="dashOrgC.addEmployee.invalidFields.emailVal">Insert a valid email address</p>
            <p class="text-danger" ng-show="dashOrgC.addEmployee.invalidFields.passwordLength">The password is too short</p>
            <p class="text-danger" ng-show="dashOrgC.addEmployee.invalidFields.passwordMatch">The two password do not match</p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="dashOrgC.addEmployee.submit()">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>
