<div>
  <h1>Success! Your are logged</h1>
  <a href="/#/organization/profile">Profile</a>
  <button ng-click="dashOrgC.logout()">Logout</button>
  <interrors code="{{dashOrgC.code}}"></interrors>
  <div>
    <h2>Employees</h2>
    <input type="search" placeholder="search" value="{{4+4}}">
    <button>See all</button>
    <button>Add employee</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Group</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="employee in dashOrgC.data.employees">
          <td><a href="/#/organization/employees/{{employee.id}}">{{employee.name}}</a></td>
          <td>{{employee.email}}</td>
          <td>Bla</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Groups</h2>
    <input type="search" placeholder="search">
    <button>See all</button>
    <button>Add group</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Planner</th>
        <th></th>
      </thead>
      <tbody>
        <!--<tr ng-repeat="group in dashC.data.groups">
          <td>{{group.name}}</td>
          <td>{{group.}}</td>
          <td>GO</td>
        </tr>-->
      </tbody>
    </table>
    {{dashOrgC.data}}
  </div>


</div>
