<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- HEADER -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Plunner</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="/#/organization/profile">
            <span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><button type="button" class="btn btn-danger navbar-btn" ng-click="dashOrgC.logout()">Sign Out</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <h1>Home</h1>
  <div>
    <h2>Employees</h2>
    <input type="search" placeholder="search">
    <button>See all</button>
    <button>Add employee</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Group</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Bla</td>
          <td>Bla</td>
          <td>Bla</td>
          <td>GO</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Groups</h2>
    <input type="search" placeholder="search">
    <button>See all</button>
    <button>Add group</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Planner</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Bla</td>
          <td>Bla</td>
          <td>GO</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
