<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PLUNNER</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/#/organization/profile">
                        Organization Name
                    </a>
                </li>
                <li><a href="#" class="navbar-right-item">How To</a></li>
                <li><a href="#" class="navbar-right-item">Contact</a></li>
                <li>
                    <button type="button" class="btn btn-danger navbar-btn" logout redirect="/">Sign Out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="top-odash-banner row">
        <h2 class="text-center">Dashboard</h2>
        <div class="view-switcher" role="group" aria-label="...">
            <button type="button" ng-class="{switchSelected : odashC.employeeSection}" ng-click="odashC.showEmployees()" class="btn btn-default">USERS</button>
            <button type="button" ng-class="{switchSelected : odashC.groupSection}" ng-click="odashC.showGroups()" class="btn btn-default">GROUPS</button>
        </div>
    </div>
    <div class="row" ng-show="odashC.employeeSection">
        <div class="col-md-10 col-md-push-1">
            <div class="row odash-action-bar">
                <div class="col-md-12">
                    <div>
                        <span class="icon"><i class="fa fa-search fa-lg"></i></span>
                        <input type="text" class="search-field" placeholder="Search for..." ng-model="searchUser">
                    </div>
                    <div>
                        <button class="btn btn-default glob_button" ng-click="odashC.seeAllEmp()">See all users</button>
                        <button class="btn btn-default glob_button" ng-click="odashC.addUser.showPopup()">Add user</button>
                    </div>

                </div>
            </div>
            <div class="row odash-users">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Group</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in odashC.data.users | filter:{ name: searchUser} |  limitTo:10">
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <a href="/#/organization/groups/{{group.id}}" ng-repeat="group in user.groups">{{group.name}},
                                </a>
                            </td>
                            <td class="text-right">
                                <a href="/#/organization/users/{{user.id}}" class="fa fa-chevron-circle-right"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <br>

    </div>

    <div class="row" ng-show="odashC.groupSection">
        <div class="col-md-10 col-md-offset-1">

            <div class="row odash-action-bar">
                <div class="col-md-12">
                    <div>
                        <span class="icon"><i class="fa fa-search fa-lg"></i></span>
                        <input type="text" class="search-field" placeholder="Search for..." ng-model="searchGroup">
                    </div>
                    <div>
                        <button class="btn btn-default glob_button" ng-click="odashC.seeAllGroups()">See all groups</button>
                        <button class="btn btn-default glob_button" ng-click="odashC.addGroup.showPopup()">Add group</button>
                    </div>

                </div>
            </div>
            <div class="row odash-groups">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <th>Name</th>
                            <th>Planner</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="group in odashC.data.groups | filter:{name : searchGroup } | limitTo: 10">
                                <td>{{group.name}}</td>
                                <td><a href="/#/organization/employees/{{group.planner_id}}">{{group.planner_name}}</a></td>
                                <td class="text-right"><a class="fa fa-chevron-circle-right" href="/#/organization/groups/{{group.id}}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="addGroup" class="modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="display: inline-block;">Add group</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Name</p>
                    <input type="text" placeholder="Insert a name" class="search-field" ng-model="odashC.addGroup.name">
                    <br/>
                    <p>Description</p>
                    <input type="text" placeholder="Insert a description" class="search-field" ng-model="odashC.addGroup.desc">
                    <br/>
                    <table class="table">
                        <thead>
                        <th></th>
                        <th class="text-center">Members</th>
                        <th class="text-center">Planner</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in odashC.data.users | filter: searchedPlanner">
                            <td>{{user.name}}</td>
                            <td class="text-center" >
                                <label class="circled-checkbox" ng-click="odashC.addGroup.selectPlanner(user.id)">
                                    <input type="checkbox" ng-model="odashC.addGroup.members[user.id]">
                                    <span class="label-text"></span>
                                </label>
                            </td>
                            <td class="text-center">
                                <label class="circled-radio">
                                    <input type="radio" name="plannerasd" ng-model="odashC.addGroup.planner" ng-value="user.id">
                                    <span class="label-text"></span>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="errorContainer" ng-show="odashC.addGroup.thereErrors || odashC.addUser.errors.length > 0">
                        <p class="text-danger" class="text-danger" ng-repeat="error in odashC.addGroup.errors">{{error}}</p>
                        <p ng-show="odashC.addGroup.invalidFields.nameReq" class="text-danger">Insert group name</p>
                        <p ng-show="odashC.addGroup.invalidFields.membersReq" class="text-danger">Insert at least one member</p>
                        <p ng-show="odashC.addGroup.invalidFields.plannerReq" class="text-danger">Insert one planner</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default glob_button" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default glob_button" ng-click="odashC.addGroup.submit()">Create</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addUser" class="modal" role="dialog" tabindex="-2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="display: inline-block">ADD A USER</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form name="addUserForm" ng-submit="odashC.addUser.submit()" novalidate>
                    <div class="modal-body">
                        <p>Name</p>
                        <input name="name" type="text"  required ng-model="odashC.addUser.name" placeholder="Insert a name">
                        <br/>
                        <p>Email</p>
                        <input name="email" type="email"  required ng-model="odashC.addUser.email" placeholder="Insert an email">
                        <br/>
                        <p>Password</p>
                        <input name="password" type="password"  required ng-model="odashC.addUser.password" placeholder="Insert a password" ng-minlength="6">
                        <br/>
                        <p>Confirm Password</p>
                        <input name="confirmation_password" type="password" ng-model="odashC.addUser.confirmation_password" placeholder="Confirm the password">
                        <br/>
                        <div class="errorContainer" ng-show="odashC.addUser.thereErrors || odashC.addUser.errors.length > 0">
                            <p ng-repeat="error in odashC.addUser.errors">{{error}}</p>
                            <p ng-show="odashC.addUser.invalidFields.passwordReq" class="text-danger">Insert the user password</p>
                            <p ng-show="odashC.addUser.invalidFields.passwordLength" class="text-danger">The password must contains at least 6 characters</p>
                            <p ng-show="odashC.addUser.invalidFields.emailReq" class="text-danger">Insert the user email address</p>
                            <p ng-show="odashC.addUser.invalidFields.emailVal" class="text-danger">The email address is not valid</p>
                            <p ng-show="odashC.addUser.invalidFields.passwordMatch" class="text-danger">The two passwords do not match</p>
                            <p ng-show="odashC.addUser.invalidFields.nameReq" class="text-danger">Insert the user name</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default glob_button" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default glob_button">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div id="confirmPopup" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">{{odashC.confirmPopup.message}}</h3>
            </div>
            <br/>
        </div>
    </div>
</div>
