<div class="container">
  <h2>Plan a meeting</h2>
  <div class="row">
    <div class="col-md-6">
      <form action="">
        <p>
          Title
        </p>
        <input type="text" name="tile" required>
        <p>
          Description
        </p>
        <textarea name="desc" rows="8" cols="40"></textarea>
        <p>Meeting place</p>
        <input type="text" name="meetingPlace">
        <p>Exported the planned meeting date to your schedules</p>
        <select name="" id="">
          <option value="">Yes</option>
          <option value="">No</option>
        </select>
      </form>
    </div>
    <div class="col-md-6">
      <p>Meeting repertion</p>
    </div>
  </div>
</div>
