//
// Project            : Plunner
// Authors            : G.Pea and J.Barré
//

$main_blue: #42A5F5
$main_blue_light: #6BAEF5
$washed_black: #555
$gray_light: #ccc
$gray_extra_light: #ddd
$gray_super_light: #eee
$red : #FF0000
$white : #FFFFFF
$main-color : #000000
$main2-color : #B5B5B5
$second-color : #ffa500
$edit-color: #cceac5
$danger_red: #E74C3C

$glob_gray: #384047
$glob_gray_light: lighten($glob_gray, 15%)