.search_input
  position: relative
  float: left
  margin-right: 30px

  i
    position: absolute
    top: 13px
    left: 12px
    color: $gray_light

  input[type="search"]
    width: 400px
    padding: 10px 10px 10px 40px
    border: 1px solid $gray_light
    border-radius: 4px

    &:focus
      outline: none
      box-shadow: 1px 1px 6px rgba(0,0,0,0.16)