.navbar
  background-color: white
  margin-bottom: 0

  .navbar-brand
    height: auto
    padding: 16px

    img
      width: 150px

  .navbar-nav
    li
      padding: 10px
      a
        padding-top: 0px
        padding-bottom: 0px


    .user_section
      margin-right: 30px
      padding-top: 12px
      padding-bottom: 12px

      a
        padding-top: 0
        padding-bottom: 0
      .user_icon
        width: 40px
        margin-right: 15px



