.pagination
  margin-bottom: 0
  li
    margin-right: 5px
    color: $gray_light
    cursor: pointer

    &:hover
      color: $washed_black
  .underlinedPage
    color: $main_blue

    &:hover
      color: white