.modal
  .modal-content
    border-radius: 0
    border: 1px solid rgba(0,0,0,0.1)

  .modal-header
    border: 0

    h3
      margin-top: 10px
      padding-left: 15px

  .modal-body
    padding: 10px 30px 30px 30px

