.tile

  height: 141px
  padding: 10px
  border-bottom: 1px solid $gray_super_light

  .tileIconLeft
    img
      width: 60px
      margin-top: 24px

  .tileIconRight
    svg
      display: block
      margin-left: auto
      margin-right: 0
      margin-top: 40px
      cursor: pointer

      &:hover
        g
          g
            fill: darken($gray_light, 20%)

  .tileBody
    height: 130px
    padding-left: 30px

    .tileTitle
      font-size: 20px
      font-weight: 400

    .tileDescription
      height: 40px
      margin-top: 10px
      color: $washed_black


    .tileBottomGroup
      margin-bottom: 10px

      ul
        li
          margin-right: 15px

      i
        color: $washed_black
        font-size: 16px

      button
        color: $washed_black
        background-color: transparent
        border: none
        outline: none

        &:hover
          color: black
          i
            color: black

.tile-small
  height: 120px

  .tileIconLeft, .tileIconRight, .tileBody
    height: 120px
    margin-top: -11px

    svg
      margin-top: 44px

  .tileBody
    .tileTitle
      margin-top: 30px
      padding-bottom: 10px

    .tileBottomGroup
      margin-top: 10px

      .tileActiveInfo
        font-weight: 500
        color: #2ECC71

      .tileNonActiveInfo
        font-weight: 500
        color: $gray_light


