//
// Project            : Plunner
// Authors            : G.Pea and J.Barré
//

@import 'colors.sass'
@import 'size.sass'
@import 'fonts.sass'
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")


.btn-primary
  background-color: $second-color
  opacity: 0.7
  border: 0

.btn-primary:hover
  background-color: $second-color
  opacity: 1
  border: 0

button.selectedSection
  background-color: black
  color: white


.btn-default
  background-color: white
  color: $main-color
  border-radius: 5px
  border-color: $main-color

.btn-default:hover
  background-color: $main-color
  color: white
  border-color: $main-color


.glob_button
    margin-right: 10px
    border: 2px solid $glob_gray_light
    color: $glob_gray_light
    font-weight: 600

    &:hover
      border-color: $glob_gray
      background-color: white
      color: $glob_gray

    &:focus
      outline: none !important

    &:active
      border-color: $glob_gray
      background-color: white
      color: $glob_gray
      box-shadow: none

label.circled-checkbox
  cursor: pointer
  color: #757575

  input[type=checkbox]
    display: none

    + .label-text:before
      content: "\f10c"
      font-family: "FontAwesome"
      font-style: normal
      font-weight: normal
      font-variant: normal
      text-transform: none
      line-height: 1
      -webkit-font-smoothing: antialiased
      width: 1em
      margin-right: $mini-norm

    &:checked + .label-text
      color: #555
      font-weight: 500

    &:checked + .label-text:before
      color: black
      content: "\f111"


label.circled-radio
  cursor: pointer
  color: #757575

  input[type=radio]
    display: none

    + .label-text:before
      content: "\f10c"
      font-family: "FontAwesome"
      font-style: normal
      font-weight: normal
      font-variant: normal
      text-transform: none
      line-height: 1
      -webkit-font-smoothing: antialiased
      width: 1em
      margin-right: $mini-norm

    &:checked + .label-text
      color: black

    &:checked + .label-text:before
      color: black
      content: "\f111"


.yellow-btn
  position: absolute
  left: calc(50% - 100px)
  width: 20%
  background-color: #FFA500
  color: #FFF
  border: medium none
  border-radius: 2px

  p
    color: #FF2800