@import '../global/colors.sass'
@import '../global/size.sass'

input[type=checkbox]
	display: none

.checkbox label:before
    border-radius: 3px

input[type=checkbox]:checked + label:before
    content: "\2713"
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
    font-size: 15px
    color: #f3f3f3
    text-align: center
    line-height: 15px

.btn-primary
	background-color: $second-color
	opacity: 0.7
	border: 0


.btn-primary:hover
	background-color: $second-color
	opacity: 1
	border: 0

.signin-btn
	width: $xxlarge-norm

.btn-default
	background-color: white
	color: $main-color
	opacity: 0.7
	border-width: 5px
	border-color: $main-color

.btn-default:hover
	color: $main-color
	opacity: 0.7
	border-color: $main-color