@import '../global/colors.sass'
@import '../global/size.sass'

.centered-col
	text-align: center

.lefted-col
	text-align: left

.righted-col
	text-align: right

hr.black-line
	border-color: $main-color

hr.second-line
	border-color: $second-color
	border-width: 2px