.csched
  .csched_actionbar
    margin-bottom: 30px


    button
      float: right
      margin-top: -5px

    >div>div
      float: left

      &:first-child
        margin-right: 30px

      &:nth-child(2)
        padding-top: 2px

    input[type="text"]
      margin-left: 10px

    .align_input
      padding-left: 53px

  .non_input_errors
    margin-right: 20px



  .fc-toolbar
    margin-bottom: 30px
