@import  "../../global/colors"

.nm
  >div
   &:first-child
     padding-right: 30px
  h4
    margin-bottom: 30px
    padding-bottom: 10px
    color: $washed_black
    border-bottom: 1px solid $gray_light

  form
    p
      font-weight: 500
      margin-top: 15px

    >div
        p
          &:first-child
            margin-top: 0

    textarea
      margin-bottom: 15px
      padding: 5px
      width: 60%
      height: 160px
      border: 1px solid #ddd
      resize: none
      font-size: 95%

      &:focus
        border: 1px solid $main_blue
        outline: none
    
    input[type="radio"]
      display: none

    input[type="radio"] + span:before
      content: "\f1db"
      font-family: "FontAwesome"
      font-style: normal
      font-weight: normal
      font-variant: normal
      font-size: 16px
      color: $washed_black
      text-transform: none
      line-height: 1
      -webkit-font-smoothing: antialiased
      margin-top: 10px
      transition: all 50ms ease-in-out

    input[type="radio"]:checked +span:before
      content: "\f111"
      font-family: "FontAwesome"
      font-style: normal
      font-weight: normal
      font-variant: normal
      font-size: 16px
      color: $main_blue
      text-transform: none
      line-height: 1
      -webkit-font-smoothing: antialiased



