@import "../../global/colors"


.odash

  #addGroup, #addUser
    .modal-body
      >div
        margin-bottom: 25px

        p
          margin-bottom: 5px

      table
        margin-bottom: 0


    .secondary_button
      margin-right: 15px

    .error_tile
      padding-left: 30px


  @media(max-width: 600px)
    .tile
      .tileBottomGroup
        display: none
