@import '../../global/colors'
@import '../../global/size'
@import '../../global/fonts'

.top-odash-banner
  position: relative
  height: 150px
  background: url('../../../img/pattern.png')

  h2
    margin-top: $medium-norm
    color: #384047
    font-family: $raleway-font
    font-weight: 600
    text-transform: uppercase
    text-align: center

  .view-switcher
    position: absolute
    bottom: -20px
    left: calc(50% - 125px)
    width: 250px

    button
      width: 50%
      padding: 12px 24px
      color: lighten(#384047, 15%)
      font-family: $raleway-font
      font-size: 15px
      font-weight: 600
      float: left
      border: 2px solid #384047

      &:first-child
        border-top-right-radius: 0
        border-bottom-right-radius: 0

      &:last-child
        border-left: none
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        
        &:hover
          color: #384047
          background-color: white

  .switchSelected
    color: white !important
    background-color: #384047


.odash-users-action-bar
  margin-top: 70px

  > div > div
    &:first-child
      width: 400px
      display: inline-block
      float: left


      input
        width: calc(100% - 34px)
        margin-left: 10px
        padding: 5px 0 5px 0

        &:focus
          outline: none

    &:last-child
      display: inline-block
      margin-left: 20px

      button
        margin-right: 10px
        border: 2px solid #384047
        color: lighten(#384047, 15%)
        font-weight: 600

        &:hover
          background-color: white
          color: #384047

