<div class="container-fluid navigation navigation--presentation backgroundLightBlue">
    <div class="navigation-left">
        <a href="/#/">
            <img src="assets/img/logoWhite.png" alt=""/>
        </a>
    </div>
    <div class="navigation-right">
        <ul class="list-inline list-unstyled clearfix">
            <li>
                <a href="/#/signInHub">Sign In</a>
            </li>
            <li>
                <a href="/#/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid signUp">
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <form name="resetForm" ng-submit="urecC.recover()" novalidate>
                <div class="usi_branding  text-center">
                    <img width="200px" src="assets/img/plunner.png" alt=""/>
                </div>
                <div class="usi_title">
                    <h2 class="font_light  text-center">Password reset for Users</h2>
                </div>

                <p class="font_bold">Name of the Organization</p>
                <div>
                    <input class="main_input" ng-class="{error_underline : urstC.invalidFields.company}" type="text"
                           name="company" ng-model="urstC.company" required placeholder="Insert your organization's name">
                    <p class="error_msg" ng-show="urstC.invalidFields.company">You did not insert a name</p>
                </div>
                <p class="font_bold">Email</p>
                <div>
                    <input ng-class="{error_underline : urecC.invalidFields.emailReq || urecC.invalidFields.emailVal }"
                           type="email" name="email" class="main_input" ng-model="urecC.email"
                           placeholder="Insert your email" required/>

                    <p class="error_msg" ng-show="urstC.invalidFields.emailReq">You did not insert an email address</p>

                    <p class="error_msg" ng-show="urstC.invalidFields.emailVal">You did not insert a valid email
                        address</p>
                </div>
                <p class="font_bold">New password</p>
                <div>
                    <input ng-class="{error_underline : urecC.invalidFields.passwordReq || urecC.invalidFields.pwdLength }"
                           type="email" name="email" class="main_input" ng-model="urecC.email"
                           placeholder="Insert your new password" required/>

                    <p class="error_msg" ng-show="urstC.invalidFields.passwordReq">You did not insert a password</p>

                    <p class="error_msg" ng-show="urstC.invalidFields.pwdLength">Insert a password at least 6 characters long</p>
                </div>
                <p class="error_tile" ng-repeat="error in urstC.errors"><i class="fa fa-warning"></i>&nbsp;&nbsp;{{error}}
                </p>
                <p ng-show="urstC.success" class="successDisclaimer"><i class="fa fa-check"></i>&nbsp;&nbsp;Success! You have resetted your password!</p>
                <button>RESET PASSWORD</button>
            </form>
        </div>
    </div>
</div>
<div id="authorizationPopup" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-center">
                <img src="assets/img/484.GIF" alt=""/>
                <h2>&nbsp;&nbsp;Resetting your password</h2>
            </div>
            <br/>
        </div>
    </div>
</div>