.btn-primary {
  background-color: #ffa500;
  opacity: 0.7;
  border: 0; }

.btn-primary:hover {
  background-color: #ffa500;
  opacity: 1;
  border: 0; }

.signin-btn {
  width: 150px; }

.btn-default {
  background-color: white;
  color: #000000;
  opacity: 0.7;
  border-width: 5px;
  border-color: #000000; }

.btn-default:hover {
  color: #000000;
  opacity: 0.7;
  border-color: #000000; }
