@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.btn-primary {
  background-color: #ffa500;
  opacity: 0.7;
  border: 0; }

.btn-primary:hover {
  background-color: #ffa500;
  opacity: 1;
  border: 0; }

button.selectedSection {
  background-color: black;
  color: white; }

.btn-default {
  background-color: white;
  color: #000000;
  border-radius: 5px;
  border-color: #000000; }

.btn-default:hover {
  background-color: #000000;
  color: white;
  border-color: #000000; }

.glob_button {
  margin-right: 10px;
  border: 2px solid #5a6772;
  color: #5a6772;
  font-weight: 600; }
  .glob_button:hover {
    border-color: #384047;
    background-color: white;
    color: #384047; }
  .glob_button:focus {
    outline: none !important; }
  .glob_button:active {
    border-color: #384047;
    background-color: white;
    color: #384047;
    box-shadow: none; }

label.circled-checkbox {
  cursor: pointer;
  color: #757575; }
  label.circled-checkbox input[type=checkbox] {
    display: none; }
    label.circled-checkbox input[type=checkbox] + .label-text:before {
      content: "\f10c";
      font-family: "FontAwesome";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      width: 1em;
      margin-right: 7px; }
    label.circled-checkbox input[type=checkbox]:checked + .label-text {
      color: black; }
    label.circled-checkbox input[type=checkbox]:checked + .label-text:before {
      color: black;
      content: "\f111"; }

label.circled-radio {
  cursor: pointer;
  color: #757575; }
  label.circled-radio input[type=radio] {
    display: none; }
    label.circled-radio input[type=radio] + .label-text:before {
      content: "\f10c";
      font-family: "FontAwesome";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      width: 1em;
      margin-right: 7px; }
    label.circled-radio input[type=radio]:checked + .label-text {
      color: black; }
    label.circled-radio input[type=radio]:checked + .label-text:before {
      color: black;
      content: "\f111"; }

.errorContainer {
  border: 1px solid #FF2800;
  background-color: rgba(255, 40, 0, 0.27);
  padding: 8px;
  padding-left: 10px;
  border-radius: 4px; }
  .errorContainer p {
    color: #FF2800; }

.yellow-btn {
  position: absolute;
  left: calc(50% - 100px);
  width: 20%;
  background-color: #FFA500;
  color: #FFF;
  border: medium none;
  border-radius: 2px; }
  .yellow-btn p {
    color: #FF2800; }
