@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
.font_light {
  font-weight: 300 !important; }

.font_normal {
  font-weight: 400 !important; }

.font_bold {
  font-weight: 500 !important; }

body {
  font-family: "Roboto", "Helvetica", Arial, sans-serif; }

body, html {
  height: 100%; }

.wrapper {
  min-height: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.error_msg {
  margin-top: 10px !important;
  margin-bottom: 0;
  color: #E74C3C;
  font-size: 14px;
  font-weight: 400 !important; }

.error_bordering {
  border: 2px solid #E74C3C !important; }

.error_underline {
  border-bottom: 2px solid #E74C3C !important; }

.error_inline {
  margin-left: 15px; }

.near_button_error {
  margin-right: 20px; }

.error_tile {
  margin-bottom: 0;
  padding: 10px;
  color: white;
  background-color: #E74C3C; }

#authorizationPopup h2 {
  display: inline-block;
  font-weight: 400; }

#authorizationPopup img {
  margin-right: 20px;
  width: 50px;
  margin-top: -12px; }

.footer {
  margin-top: 50px; }
  .footer > .row > div {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ddd; }
    .footer > .row > div img {
      opacity: .2;
      width: 40px; }

@media (max-width: 600px) {
  .media_adapt {
    width: 100%;
    left: 0;
    width: 100%;
    left: 0; }
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 22px; }
  .sub_section_switcher button {
    font-size: 16px !important; } }

a.main_button {
  display: inline-block; }
  a.main_button:visited, a.main_button:focus, a.main_button:active {
    text-decoration: none; }

.main_button {
  padding: 9px 18px;
  color: white;
  background-color: #42A5F5;
  border-radius: 4px;
  border: 2px solid #42A5F5;
  outline: none;
  text-transform: uppercase; }
  .main_button:hover, .main_button:active, .main_button:focus {
    color: white;
    border: 2px solid #0c80df;
    background-color: #0c80df; }

.secondary_button {
  padding: 9px 18px;
  color: white;
  background-color: #ccc;
  border-radius: 4px;
  border: 2px solid #ccc;
  outline: none;
  text-transform: uppercase; }
  .secondary_button:hover, .secondary_button:active, .secondary_button:focus {
    color: white;
    border: 2px solid #a6a6a6;
    background-color: #a6a6a6; }

.main_button_small {
  padding: 6px 12px; }

.navbar_button {
  margin-top: 4px;
  padding: 6px 12px;
  color: #0c80df;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #0c80df;
  outline: none; }
  .navbar_button:hover, .navbar_button:active, .navbar_button:focus {
    color: #085796;
    border: 2px solid #085796; }

.search_input {
  max-width: 100%;
  position: relative;
  float: left;
  margin-right: 30px; }
  .search_input i {
    position: absolute;
    top: 13px;
    left: 12px;
    color: #ccc; }
  .search_input input[type="search"] {
    width: 300px;
    max-width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px; }
    .search_input input[type="search"]:focus {
      outline: none;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16); }

.status_switcher {
  cursor: pointer; }
  .status_switcher input[type="checkbox"] {
    display: none; }
  .status_switcher span:last-child {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    margin-left: 5px;
    text-transform: uppercase;
    color: #555; }
  .status_switcher input[type="checkbox"] + .status_switcher_text:before {
    content: "\f204";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 28px;
    color: #555;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    transition: all 50ms ease-in-out; }
  .status_switcher input[type="checkbox"]:checked + .status_switcher_text:before {
    content: "\f205";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 28px;
    color: #42A5F5;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px; }

.remember_me_switcher {
  font-weight: 400;
  cursor: pointer; }
  .remember_me_switcher input[type="checkbox"] {
    display: none; }
  .remember_me_switcher input[type="checkbox"] + .span:before {
    content: "\f1db";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 17px;
    color: #555;
    text-transform: none;
    margin-right: 8px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transition: all 50ms ease-in-out; }
  .remember_me_switcher input[type="checkbox"]:checked + .span:before {
    content: "\f058" !important;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 17px;
    color: #42A5F5;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased; }

.list_checkbox input[type="checkbox"] {
  display: none; }

.list_checkbox input[type="checkbox"] + .text:before {
  content: "\f1db";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  color: #555;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  transition: all 50ms ease-in-out; }

.list_checkbox input[type="checkbox"]:checked + .text:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  color: #42A5F5;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.list_radio input[type="radio"] {
  display: none; }

.list_radio input[type="radio"] + .text:before {
  content: "\f1db";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  color: #555;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  transition: all 50ms ease-in-out; }

.list_radio input[type="radio"]:checked + .text:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  color: #42A5F5;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.main_input {
  color: #555;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 5px 0 5px 0;
  width: 250px; }
  .main_input:focus {
    outline: none;
    border-bottom: 2px solid #42A5F5; }

.navigation {
  padding: 7px 20px 7px 20px;
  background-color: #f5f5f5; }
  .navigation .navigation-left {
    float: left;
    margin-top: 13px; }
    .navigation .navigation-left img {
      width: 150px; }
  .navigation .navigation-right {
    margin-top: 4px;
    float: right; }
    .navigation .navigation-right a {
      margin-right: 20px;
      text-decoration: none; }
    .navigation .navigation-right .user_icon {
      width: 40px;
      margin-right: 15px; }
  @media (max-width: 500px) {
    .navigation .navigation-left {
      float: none;
      width: calc(100% + 40px);
      text-align: center;
      margin-bottom: 15px;
      margin-left: -20px;
      margin-right: -20px;
      padding: 20px 0 20px 0;
      margin-top: -10px;
      border-bottom: 1px solid #ddd; }
    .navigation .navigation-right {
      width: 100%;
      float: none; }
      .navigation .navigation-right ul li:last-child {
        float: right; } }

.section_heading {
  height: 150px; }
  .section_heading h1 {
    margin-top: 55px;
    color: black; }

.sub_section_switcher button {
  width: 50%;
  padding: 12px 24px;
  float: left;
  font-size: 20px;
  background-color: white;
  border: 2px solid #42A5F5;
  border-radius: 0;
  outline: none; }

.sub_section_switcher .sub_section_switcher_selected {
  color: white;
  background-color: #42A5F5; }

.sub_section_actionbar {
  margin-bottom: 30px; }
  .sub_section_actionbar button {
    margin-right: 15px; }
  @media (max-width: 768px) {
    .sub_section_actionbar .search_input {
      width: 100%;
      margin-top: 30px; }
      .sub_section_actionbar .search_input input[type="search"] {
        width: 100%; } }
  @media (max-width: 600px) {
    .sub_section_actionbar {
      font-size: 13px; } }

.tile {
  height: 141px;
  padding: 10px;
  border-bottom: 1px solid #eee; }
  .tile .tileIconLeft img {
    width: 60px;
    margin-top: 24px; }
  @media (max-width: 1440px) and (min-width: 993px) {
    .tile .tileIconLeft {
      width: 11%; } }
  .tile .tileIconRight svg {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 40px;
    cursor: pointer; }
    .tile .tileIconRight svg:hover g g {
      fill: #999999; }
  .tile .tileBody {
    height: 130px;
    padding-left: 30px; }
    .tile .tileBody .tileTitle {
      font-size: 20px;
      font-weight: 400; }
    .tile .tileBody .tileDescription {
      height: 40px;
      margin-top: 10px;
      color: #555;
      overflow: hidden; }
    .tile .tileBody .tileBottomGroup {
      margin-bottom: 10px; }
      .tile .tileBody .tileBottomGroup ul li {
        margin-right: 15px; }
      .tile .tileBody .tileBottomGroup i {
        color: #555;
        font-size: 16px; }
      .tile .tileBody .tileBottomGroup button {
        color: #555;
        background-color: transparent;
        border: none;
        outline: none; }
        .tile .tileBody .tileBottomGroup button:hover {
          color: black; }
          .tile .tileBody .tileBottomGroup button:hover i {
            color: black; }
    @media (max-width: 1440px) and (min-width: 993px) {
      .tile .tileBody {
        margin-right: 5.66666667%; } }

.tile-small {
  height: 120px; }
  .tile-small .tileIconLeft, .tile-small .tileIconRight, .tile-small .tileBody {
    height: 120px;
    margin-top: -11px; }
    .tile-small .tileIconLeft svg, .tile-small .tileIconRight svg, .tile-small .tileBody svg {
      margin-top: 44px; }
  .tile-small .tileBody .tileTitle {
    margin-top: 30px;
    padding-bottom: 10px; }
  .tile-small .tileBody .tileBottomGroup {
    margin-top: 10px; }
    .tile-small .tileBody .tileBottomGroup .tileActiveInfo {
      font-weight: 500;
      color: #2ECC71; }
    .tile-small .tileBody .tileBottomGroup .tileNonActiveInfo {
      font-weight: 500;
      color: #ccc; }

@media (max-width: 600px) {
  .tile {
    height: 100px;
    font-size: 13px; }
    .tile .tileIconLeft img {
      width: 50px;
      margin-top: 17px; }
    .tile .tileBody {
      height: 100px;
      margin-top: -10px; }
      .tile .tileBody .tileTitle {
        margin-top: 20px;
        font-size: 18px; }
    .tile .tileIconRight svg {
      width: 10px;
      height: 20px;
      margin-top: 34px; } }

@media (max-width: 400px) {
  .tile {
    height: 100px;
    font-size: 13px; }
    .tile .tileIconLeft img {
      width: 40px;
      margin-top: 14px; }
    .tile .tileBody {
      height: 100px;
      margin-top: -10px; }
      .tile .tileBody .tileTitle {
        margin-top: 20px;
        font-size: 17px; }
    .tile .col-xs-9 {
      width: 70%; }
    .tile .tileIconRight svg {
      width: 10px;
      height: 20px;
      margin-top: 24px; }
  .tile-small .tileIconLeft img {
    margin-top: 24px; }
  .tile-small .tileIconRight svg {
    margin-top: 33px; } }

.usi h3 {
  margin-top: 50px;
  font-size: 18px; }
  .usi h3 a {
    color: #42A5F5; }
    .usi h3 a:hover {
      color: #128ef2; }

.usi form {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px; }

.usi .usi_input {
  position: relative;
  margin-bottom: 30px; }
  .usi .usi_input i {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #ccc; }
  .usi .usi_input input {
    width: 100%;
    padding: 9px 18px;
    padding-left: 40px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; }
    .usi .usi_input input:focus {
      border: 1px solid #42A5F5; }
  .usi .usi_input:nth-child(5) i {
    left: 15px; }

.usi .error_tile {
  margin-top: 15px; }

.usi .usi_bottom_bar label {
  float: left; }

.usi .usi_bottom_bar a {
  float: right;
  color: #42A5F5; }
  .usi .usi_bottom_bar a:hover {
    color: #128ef2; }

.usi .usi_title {
  margin-top: 15px;
  margin-bottom: 40px; }
  .usi .usi_title h2 {
    font-size: 28px; }

.usi button {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 9px 18px;
  color: white;
  background-color: #42A5F5;
  font-size: 18px;
  font-weight: 300;
  border: 0;
  border-radius: 4px;
  outline: none; }
  .usi button:hover {
    background-color: #0c80df; }

.modal .modal-content {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.modal .modal-header {
  border: 0; }
  .modal .modal-header h3 {
    margin-top: 10px;
    padding-left: 15px; }

.modal .modal-body {
  padding: 10px 30px 30px 30px; }

#confirmPopup h3 {
  font-weight: 400; }

.pagination {
  margin-bottom: 0; }
  .pagination li {
    margin-right: 5px;
    color: #ccc;
    cursor: pointer; }
    .pagination li:hover {
      color: #555; }
  .pagination .underlinedPage {
    color: #42A5F5; }
    .pagination .underlinedPage:hover {
      color: white; }

.upC .secondary_button, .opC .secondary_button {
  margin-right: 15px; }

.upC form .disabled, .opC form .disabled {
  border: 0 !important; }

.upC table thead th, .opC table thead th {
  border: none; }

.upC table tbody tr td, .opC table tbody tr td {
  padding-top: 14px; }

.upC table tbody tr:first-child td, .opC table tbody tr:first-child td {
  border: none; }

.upC table tbody .password_row td, .opC table tbody .password_row td {
  padding-top: 20px;
  padding-bottom: 20px; }
  .upC table tbody .password_row td:first-child, .opC table tbody .password_row td:first-child {
    padding-top: 25px; }

.upC table input, .opC table input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 6px; }
  .upC table input:focus, .opC table input:focus {
    border: 1px solid #42A5F5; }

@media (max-width: 600px) {
  .upC .span .link_top, .opC .span .link_top {
    display: block;
    float: none;
    margin-bottom: 20px; }
  .upC .span button, .opC .span button {
    width: 50%; }
    .upC .span button:nth-child(3), .opC .span button:nth-child(3) {
      width: calc(50% - 15px); } }

.upC .section_action_bar .secondary_button, .opC .section_action_bar .secondary_button {
  margin-right: 15px; }

@media (max-width: 450px) {
  .upC .section_action_bar .link_top, .opC .section_action_bar .link_top {
    display: block;
    float: none;
    margin-bottom: 20px; }
  .upC .section_action_bar button, .opC .section_action_bar button {
    width: 100%; }
    .upC .section_action_bar button:nth-child(3), .opC .section_action_bar button:nth-child(3) {
      width: 100%;
      margin-right: 0;
      margin-top: 20px; } }
