<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">xw
            <a class="navbar-brand" href="#">PLUNNER</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">How To</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <a class="btn btn-primary navbar-btn" href="/#/signup">Register my Organization</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid signIn">
    <div class="signInContainer">
        <form name="signInForm" ng-submit="osiC.login()" novalidate>
            <img width="250px" src="assets/img/plunnerLogo.png" alt=""/>
            <h2 style="font-size: 28px; font-weight: 400; margin-bottom: 40px">Organization Sign In</h2>
            <div class="form-fields">
                <div style="position:relative">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <input name="email" type="email" required ng-model="osiC.email"
                           placeholder="Email" ng-class="{invalid : osiC.invalidFields.emailReq ||osiC.invalidFields.emailVal }">
                    <p class="invalidMsg" ng-show="osiC.invalidFields.emailReq">You did not insert an email address</p>
                    <p class="invalidMsg" ng-show="osiC.invalidFields.emailVal">You did not insert a valid email address</p>
                </div>
                <div style="position: relative"p>
                    <i class="fa fa-lock fa-lg"></i>
                    <input name="password" type="password" required ng-model="osiC.password"
                           placeholder="Password" ng-class="{invalid : osiC.invalidFields.passwordReq}">
                    <p class="invalidMsg" ng-show="osiC.invalidFields.passwordReq">You did not insert a password</p>
                </div>


                <div class="row" style="margin-bottom: 0">
                    <div class="col-md-6" style="text-align: left">
                        <label class="circled-checkbox">
                            <input type="checkbox" ng-model="osiC.rmbMe">
                            <span class="label-text" style="font-weight: 500">Remember Me</span>
                        </label>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/#/orgrecovery">Forgot credentials?</a>
                    </div>
                </div>
                <div style="margin-top: 10px" ng-show="osiC.invalidFields.emailReq" class="text-danger">

                </div>
                <p class="invalidMsg" style="text-align: center" ng-repeat="error in osiC.errors"><span style="margin-right: 7px;" class="fa fa-warning"></span>{{error}}</p>
                <button type="submit" class="btn btn-default">SIGN IN</button>
                <!--<span>If you are a user it is <a href="/#/usersignin">here</a></span>-->
            </div>


        </form>
        <div ng-show="osiC.loaderVisibility" class="centered-col">
            <img class="image-loader" src="assets/img/loader.gif" alt="">
        </div>
    </div>
    <h4 style="text-align:center; margin-top: 40px; color: #555555">Do u want to start using Planner? <a href="/#/register">Register</a></h4>
</div>