<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">xw
            <a class="navbar-brand" href="#">PLUNNER</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">How To</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <a class="btn btn-primary navbar-btn" href="/#/signup">Register my Organization</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid usi">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <form action="">
                    <div class="usi_branding">
                        <img width="180px" src="assets/img/plunner.png" alt=""/>
                    </div>
                    <div class="usi_title">
                        <h2 class="font_light">Sign In as an Organization</h2>
                    </div>
                    <div class="usi_input">
                        <i class="fa fa-envelope-o fa-lg"></i>
                        <input type="email" placeholder="Email"/>
                    </div>
                    <div class="usi_input">
                        <i class="fa fa-lock fa-lg"></i>
                        <input type="password" placeholder="Password"/>
                    </div>
                    <div class="usi_bottom_bar clearfix">
                        <label class="remember_me_switcher">
                            <input type="checkbox" />
                            <span class="span">Remember me</span>
                        </label>
                        <a href="">Forgot your credentials?</a>
                    </div>
                    <button>SIGN IN</button>
                </form>
                <h3 class="font_normal">Do you want to start using Plunner? <a href="">Register</a></h3>
            </form>
        </div>
    </div>
        <form name="signInForm" ng-submit="osiC.login()" novalidate>
            <img width="250px" src="assets/img/plunnerLogo.png" alt=""/>
            <h2>Organization Sign In</h2>
            <div class="signInInputs">
                <div class="signInInputWrapper">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <input name="email" type="email" required ng-model="osiC.email"
                           placeholder="Email" ng-class="{invalid : osiC.invalidFields.emailReq ||osiC.invalidFields.emailVal }">
                    <p class="invalidMsg" ng-show="osiC.invalidFields.emailReq">You did not insert an email address</p>
                    <p class="invalidMsg" ng-show="osiC.invalidFields.emailVal">You did not insert a valid email address</p>
                </div>
                <div class="signInInputWrapper">
                    <i class="fa fa-lock fa-lg"></i>
                    <input name="password" type="password" required ng-model="osiC.password"
                           placeholder="Password" ng-class="{invalid : osiC.invalidFields.passwordReq}">
                    <p class="invalidMsg" ng-show="osiC.invalidFields.passwordReq">You did not insert a password</p>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <label class="circled-checkbox">
                            <input type="checkbox" ng-model="osiC.rmbMe">
                            <span class="label-text" style="font-weight: 500">Remember Me</span>
                        </label>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="/#/orgrecovery">Forgot credentials?</a>
                    </div>
                </div>
                <p class="invalidMsg text-center" ng-repeat="error in osiC.errors"><span style="margin-right: 7px;" class="fa fa-warning"></span>{{error}}</p>
                <button type="submit" class="btn btn-default signInButton">SIGN IN</button>
            </div>


        </form>
        <div ng-show="osiC.loaderVisibility" class="centered-col">
            <img class="image-loader" src="assets/img/loader.gif" alt="">
        </div>
    </div>
    <h4 style="text-align:center; margin-top: 40px; color: #555555">Do u want to start using Planner? <a href="/#/register">Register</a></h4>
</div>