<div>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <!-- HEADER -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PLUNNER</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li>
            <button type="button" class="btn btn-primary navbar-btn" ng-click="rootC.signup()">
              Register my Organization</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="signin-body">
      <div class="extra-line">
      <div class="form-signin">
        <form name="signInForm" ng-submit="osiC.login()" novalidate>
          <div class="light">
            <h2>SIGN IN</h2>
            AS AN ORGANISATION
          </div>
          <div class="form-fields">
            <input class="text-form" name="email" type="email" required ng-model="osiC.email" placeholder="Email">
            <br>
            <input class="text-form" name="password" type="password" required ng-model="osiC.password" placeholder="Password"><br>

            <div class="row">
              <div class="col-md-3 col-md-offset-3 lefted-col">
                <label class="circled-checkbox">
                  <input type="checkbox" ng-model="osiC.rmbMe">
                  <span class="label-text">Remember Me</span>
                </label>
              </div>
              <div class="col-md-3 righted-col">
                <a href="/#/orgrecovery">Password?</a>
              </div>
            </div>
          </div>

          <div ng-show="osiC.invalidFields.emailReq" class="text-danger">
            <p>You did not insert an email address</p>
          </div>
          <div ng-show="osiC.invalidFields.emailVal" class="text-danger">
            <p>You did not insert a valid email address</p>
          </div>
          <div ng-show="osiC.invalidFields.passwordReq" class="text-danger">
            <p>You did not insert a password</p>
          </div>
          <p class="text-danger" ng-repeat="error in osiC.errors">{{error}}</p>

          <i>If you are a user it is <a href="/#/usersignin">here</a></i>
          <br>
          <button type="submit" class="btn btn-default signin-btn">SIGN IN</button>
        </form>
        <div ng-show="osiC.loaderVisibility" class="centered-col">
            <img class="image-loader" src="assets/img/loader.gif" alt="">
        </div>
      </div>
      </div>
      
    </div>
  </div>
</div>