<div class="container-fluid navigation navigation--presentation">
    <div class="navigation-left">
        <a href="/#/organization">
            <img src="assets/img/logoWhite.png" alt=""/>
        </a>
    </div>
    <div class="navigation-right">
        <ul class="list-inline list-unstyled clearfix">
            <li>
                <a href="/#/signInHub">Sign In</a>
            </li>
            <li>
                <a href="/#/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</div>
<div class="presentation__content container-fluid">
    <br/>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">A meeting manager that <br/>empowers your organization!</h1>

            <h3 class="text-center font_light">Plunner lets your teams manage their meetings in a simple and easy
                way<br/> and provides an optimization algorithm that crunches possible meeting times
                <br/>to find the one that maximizes the number of partecipants</h3>

            <h3></h3>
        </div>

    </div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 text-center presentation__content__signup">
            <div>
                <h4>Start boosting your productivity</h4>
            </div>
            <div>
                <a href="/#/signup">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="row presentation__content__features-wrapper">
        <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1">
            <div class="row presentation__content__features">
                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                    <img src="assets/img/cogs.png" alt="sa"/>
                    <h5>Built-in meeting <br/>optimization</h5>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                    <img src="assets/img/cals.png" alt="sa"/>
                    <h5>CalDav<br/>
                        integration</h5>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                    <img src="assets/img/teams.png" alt="sa"/>
                    <h5>Designed <br/>
                        for teams</h5>
                </div>
            </div>
        </div>
    </div>
</div>


