<div class="presentation">
    <div class="container-fluid navigation navigation--presentation navigation--signinhub">
        <div class="navigation-left">
            <a href="http://plunner.com">
                <img src="assets/img/logoWhite.png" alt=""/>
            </a>
        </div>
        <div class="navigation-right">
            <ul class="list-inline list-unstyled clearfix">
                <li>
                    <a href="/#/">Sign In</a>
                </li>
                <li>
                    <a href="/#/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="presentation__content--signinhub container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <div>
                    <a href="/#/orgsignin">
                        <img src="assets/img/industry.png" alt=""/>
                    </a>

                    <a href="/#/orgsignin">Sign In as an Organization</a>
                </div>

            </div>
            <div class="col-md-6  col-sm-6 col-xs-6 text-left">
                <div>
                    <a href="/#/usersignin">
                        <img src="assets/img/usr.png" alt=""/>
                    </a>

                    <a href="/#/usersignin">Sign In as as a User</a>
                </div>

            </div>
        </div>
    </div>

</div>
