<form name="recoveryForm" ng-submit="emprecC.recover()" novalidate>
  <input type="text" name="name" ng-model="emprecC.name" placeholder="Insert the name of you company" required>
  <input type="email" name="emailField" ng-model="emprecC.email" placeholder="Insert your mail" required>
  <button>Recover password</button>
  <div ng-show="emprecC.invalidFields.emailReq">Insert an email address</div>
  <div ng-show="emprecC.invalidFields.emailVal">You have not inserted a valid mail</div>
  <div ng-show="emprecC.invalidFields.nameReq">Insert the name of your company</div>
  <div ng-show="emprecC.errors.error">{{recC.errors.error}}</div>
  <div ng-show="emprecC.success">Success! We have sent you a link that you can use to reset your password</div>
</form>
