@import '../global/size.sass'

input:required
	background:red

:required-text
	color:red


.form-register
	width: 400px
	margin: 0 auto
	padding: 0 50 0 50
    border-style: solid
    border-radius: 25

.form-signin
	text-align: center
	width: 80%
	border: 2
    border-style: solid
    border-radius: 25
	margin: $large-norm auto
	padding: 0 $large-norm 0 $large-norm
	

.text-form
	text-align: center
	margin-bottom: $mini-norm
	border-top: 0
	border-left: 0
	border-right: 0
	border-bottom: 1


.form-fields
	margin: $medium-norm 0 $medium-norm 0