@import '../global/size.sass'
@import '../global/colors.sass'

input:required
	background:red

:required-text
	color:red

img.image-loader
	width: $medium-norm

.form-register
	width: 400px
	margin: 0 auto
	padding: 0 50 0 50
    border-style: solid
    border-radius: 25

//	-webkit-box-shadow: 0px 10px 29px -10px rgba(0,0,0,0.75)
//	-moz-box-shadow: 0px 10px 29px -10px rgba(0,0,0,0.75)
//	box-shadow: 0px 10px 29px -10px rgba(0,0,0,0.75)

.search-field
	width: 60%
	border-top: 0
	border-left: 0
	border-right: 0
	border-bottom: thin solid #000000

	input:focus
		outline: none

.text-form
	text-align: center
	width: 50%
	margin-bottom: $medium-norm
	border-top: 0
	border-left: 0
	border-right: 0
	border-bottom: thin solid #000000

	input:focus
		outline: none


.form-fields
	text-align: center
	margin: $medium-norm 0 $medium-norm 0