@import '../global/colors.sass'
@import '../global/size.sass'
@import '../global/fonts.sass'

.signin-body
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: $second-color
	opacity: 1

.form-signin
	background-color: white
	margin: $xmini-norm $xmini-norm
	padding: $medium-norm $large-norm $large-norm $large-norm
	border: thin solid white
   	radius: 5px

.extra-line
	position: relative
	text-align: center
	width: 60%
	margin: $large-norm auto
	background-color: $second-color
	border: thin solid white
	border-radius: 5px

.signin-btn
	width: $xxlarge-norm
	margin-top: $small-norm

.signin-btn:hover
	