@import '../global/colors.sass'
@import '../global/size.sass'
@import '../global/fonts.sass'

.signin-body
	position: absolute
	left: 0
	top: 50px
	width: 100%
	backgroung-color: $second-color
	opacity: 1


.signin-btn:hover
	