
<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Plunner</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">How To</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <a href="/#/">Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid recovery-container">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <form class="recoveryorg text-center" name="recoveryForm" ng-submit="orecC.recover()" novalidate>
                <h2>Password recovery</h2>
                <p>For organizations</p>
                <input type="email" name="email" ng-model="orecC.email" placeholder="Recovering Email" required>
                <br/>
                <div>
                    <p ng-show="orecC.invalidFields.emailReq" class="text-danger">Insert an email address</p>

                    <p ng-show="orecC.invalidFields.emailVal" class="text-danger">You have not inserted a valid mail</p>

                    <p class="text-danger" ng-repeat="error in orecC.errors">{{error}}</p>

                    <p ng-show="orecC.success" class="text-success">Success! We have sent you a link that you can use to reset
                        your password</p>
                </div>
                <button class="btn btn-default">Recover password</button>
                <br>
            </form>
        </div>
    </div>

</div>
