<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- HEADER -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Plunner</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li><button type="button" class="btn btn-default navbar-btn" ng-click="rootC.presentation()">Home</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
	<form name="recoveryForm" ng-submit="recC.recover()" novalidate>
	  <input class="form-control" type="email" name="email" ng-model="recC.email" placeholder="Recovering Email" required>
	  <div ng-show="recC.invalidFields.emailReq" class="text-danger">Insert an email address</div>
	  <div ng-show="recC.invalidFields.emailVal" class="text-danger">You have not inserted a valid mail</div>
	  <div ng-show="recC.errors.error" class="text-danger">{{recC.errors.error}}</div>
	  <p ng-repeat="error in recC.errors" class="text-danger">{{recC.error}}</p>
	  <br>
	  <button class="btn btn-default">Recover password</button>
    <br>
    <div ng-show="recC.success" class="text-success">Success! We have sent you a link that you can use to reset your password</div>
	  
	</form>
</div>
