<form name="recoveryForm" ng-submit="recC.recover()" novalidate>
  <input type="email" name="emailField" ng-model="recC.email" placeholder="Insert your mail" required>
  <button>Recover password</button>
  <div ng-show="recC.validFields.required">Required</div>
  <div ng-show="recC.validFields.valid">You have not inserted a valid mail</div>
  <div ng-show="recC.errors.error">{{recC.errors.error}}</div>
  <div ng-show="recC.success">Success! We have sent you a link that you can use to reset your password</div>
</form>
