<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form name="resetForm" ng-submit="resetC.reset()">
      <p>Insert your email</p>
      <input name="email" type="email" ng-model="resetC.email">
      <p>Insert your new password</p>
      <input name="password" type="password" ng-model="resetC.password" ng-minLength="6">
      <button>CHANGE YOUR PASSWORD</button>
      <p ng-show="resetC.invalidFields.emailReq">Insert your email</p>
      <p ng-show="resetC.invalidFields.pwdLength">The pwd must contain at least 6 chars</p>
      <p ng-show="resetC.invalidFields.emailVal">Insert a valid mail</p>
    </form>
  </div>
</div>
