.section_action_bar {
  margin-bottom: 15px; }
  .section_action_bar a {
    display: inline-block;
    margin-top: 11px;
    color: #ccc;
    font-size: 16px; }
    .section_action_bar a:hover {
      color: #42A5F5; }
  .section_action_bar button {
    float: right; }

.fc .fc-prev-button, .fc .fc-next-button, .fc .fc-today-button {
  margin-right: 10px;
  border: 2px solid #555;
  color: #555;
  background-color: white;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 12px;
  height: auto; }
  .fc .fc-prev-button:hover, .fc .fc-next-button:hover, .fc .fc-today-button:hover {
    border-color: black;
    background-color: white;
    color: black; }
  .fc .fc-prev-button:focus, .fc .fc-next-button:focus, .fc .fc-today-button:focus {
    outline: none !important; }
  .fc .fc-prev-button:active, .fc .fc-next-button:active, .fc .fc-today-button:active {
    border-color: #384047;
    background-color: white;
    color: #384047;
    box-shadow: none; }

.fc .fc-deleteBtn-button {
  display: none;
  padding: 8px 16px;
  height: auto;
  background-color: #E74C3C;
  border: 0;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: white;
  text-transform: uppercase; }
  .fc .fc-deleteBtn-button:hover {
    background-color: #d62c1a;
    color: white; }
  .fc .fc-deleteBtn-button:focus {
    outline: none !important; }
  .fc .fc-deleteBtn-button:active {
    color: #E74C3C; }

.fc .fc-today-button[disabled="disabled"]:hover {
  color: inherit;
  border-color: #555; }

.fc .fc-left h2 {
  font-weight: 400; }

.fc .fc-event {
  border: 1px solid #42A5F5;
  background-color: #42A5F5; }

.fc .removeEvent {
  position: absolute;
  top: 2px;
  right: 4px;
  z-index: 999999;
  opacity: .8; }
  .fc .removeEvent:hover {
    opacity: 1; }

.csched .csched_actionbar {
  margin-bottom: 30px; }
  .csched .csched_actionbar button {
    float: right;
    margin-top: -5px; }
  .csched .csched_actionbar > div > div {
    float: left; }
    .csched .csched_actionbar > div > div:first-child {
      margin-right: 30px; }
    .csched .csched_actionbar > div > div:nth-child(2) {
      padding-top: 2px; }
  .csched .csched_actionbar input[type="text"] {
    margin-left: 10px; }
  .csched .csched_actionbar .align_input {
    padding-left: 53px; }
  @media (max-width: 500px) {
    .csched .csched_actionbar > div > div:first-child {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      float: none; }
      .csched .csched_actionbar > div > div:first-child input {
        width: calc(100% - 55px); }
    .csched .csched_actionbar > div > div:last-child {
      width: 100%;
      float: none;
      padding-left: 10px;
      margin-top: 15px; }
      .csched .csched_actionbar > div > div:last-child .status_switcher_text:before {
        font-size: 35px; } }

.csched .non_input_errors {
  margin-right: 20px; }

.csched .composeScheduleContent .error_tile {
  margin-bottom: 20px; }

.csched .fc-toolbar {
  margin-bottom: 30px; }

@media (max-width: 700px) {
  .csched .span .link_top {
    display: block;
    float: none;
    margin-bottom: 20px; }
  .csched .span button {
    width: 50%; }
    .csched .span button:nth-child(3) {
      width: calc(50% - 15px); } }

.csched .section_action_bar .secondary_button {
  margin-right: 15px; }

@media (max-width: 450px) {
  .csched .section_action_bar .link_top {
    display: block;
    float: none;
    margin-bottom: 20px; }
  .csched .section_action_bar button {
    width: 100%; }
    .csched .section_action_bar button:nth-child(3) {
      width: 100%;
      margin-right: 0;
      margin-top: 20px; } }

@media (max-width: 450px) {
  .csched .fc-left {
    float: none;
    width: 100%;
    margin-bottom: 20px; }
    .csched .fc-left h2 {
      float: none; }
  .csched .fc-right {
    float: none;
    width: 100%; }
    .csched .fc-right > div {
      float: left; }
    .csched .fc-right > button {
      float: right; } }

.udash .udash_content_type_title {
  margin-bottom: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc; }
  .udash .udash_content_type_title h4 {
    color: #555;
    font-size: 20px; }

.udash .udash_empty_state_msg {
  margin-top: 30px;
  color: #555;
  font-style: italic;
  font-size: 18px; }

.udash .meetg-sched-banner {
  height: 69px;
  background-image: url("../../../img/dashboard.jpg");
  opacity: 1; }

.udash .meetg-sched-btn {
  height: 30px;
  width: 200px;
  position: absolute;
  left: calc(50% - 90px);
  bottom: -15px;
  opacity: 1; }

.udash .action-section {
  margin-bottom: 30px; }

.udash .dashboard-page {
  padding: 70px 0; }

.udash .add-btn {
  position: absolute;
  top: -50px;
  left: 90%; }
  .udash .add-btn .add {
    background: url("../../../img/add.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 80px;
    height: 80px; }
  .udash .add-btn .import {
    background: url("../../../img/import.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 60px;
    height: 60px; }
  .udash .add-btn .compose {
    background: url("../../../img/compose.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 50px;
    height: 90px; }
  .udash .add-btn .label-text {
    font-size: 12px;
    position: absolute;
    top: 50%;
    margin-left: 40px; }

.udash .imported-section {
  margin-bottom: 70px; }

.udash .circled-checkbox input[type="checkbox"]:checked + .label-text:before {
  content: "\f111"; }

.udash .imported-schedules-title-bar {
  margin-top: 30px; }
  .udash .imported-schedules-title-bar h2 {
    font-weight: 600;
    color: #384047; }

.udash .imported-schedules-bar {
  margin-bottom: 30px;
  margin-top: 15px; }
  .udash .imported-schedules-bar div div {
    width: 400px;
    display: inline-block;
    float: left;
    margin-right: 15px; }

.udash .imported-schedules-content tbody tr td {
  width: 25%; }

.udash .imported-schedules-content tbody tr td:last-child {
  padding-right: 10px; }
  .udash .imported-schedules-content tbody tr td:last-child span {
    color: #5a6772;
    margin-right: 15px;
    cursor: pointer; }
    .udash .imported-schedules-content tbody tr td:last-child span:last-child {
      margin-right: 0; }
    .udash .imported-schedules-content tbody tr td:last-child span:hover {
      color: #384047; }

@media (max-width: 1200px) {
  .udash .scheduleSection .search_input {
    display: block;
    float: none;
    margin-top: 30px; } }

@media (max-width: 670px) {
  .udash .tile .tileBottomGroup {
    display: none; }
  .udash .tile-small .tileBottomGroup {
    display: block; }
    .udash .tile-small .tileBottomGroup li:last-child {
      display: none; } }

@media (max-width: 500px) {
  .udash .udash_empty_state_msg {
    font-size: 18px; }
  .udash .udash_content_type_title h4 {
    font-size: 18px; }
  .udash .tile-small .tileBottomGroup li:nth-last-child(2) {
    display: none; } }

@media (max-width: 420px) {
  .udash .sub_section_actionbar a, .udash .sub_section_actionbar button {
    width: 100%;
    text-align: center;
    padding: 8px 16px; }
  .udash .sub_section_actionbar button {
    margin-bottom: 20px; } }

#importSchedule .modal-body > div, #editSchedule .modal-body > div {
  margin-bottom: 25px; }

#importSchedule .modal-body > div > p, #editSchedule .modal-body > div > p {
  margin-bottom: 5px; }

#importSchedule .modal-body input[type="url"], #editSchedule .modal-body input[type="url"] {
  width: 80%; }

#importSchedule .modal-body h4, #editSchedule .modal-body h4 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px; }

#importSchedule .modal-body table, #editSchedule .modal-body table {
  margin-bottom: 0; }

#importSchedule .secondary_button, #editSchedule .secondary_button {
  margin-right: 15px; }

#importSchedule .error_tile, #editSchedule .error_tile {
  padding-left: 30px; }

.nm > div:first-child {
  padding-right: 30px; }

.nm h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #555;
  border-bottom: 1px solid #ccc; }

.nm form p {
  font-weight: 500;
  margin-top: 15px; }

.nm form > div p:first-child {
  margin-top: 0; }

.nm form textarea {
  padding: 5px;
  width: 60%;
  height: 160px;
  border: 1px solid #ddd;
  resize: none;
  font-size: 95%; }
  .nm form textarea:focus {
    border: 1px solid #42A5F5;
    outline: none; }

.nm form input[type="radio"] {
  display: none; }

.nm form input[type="radio"] + .label-text:before {
  content: "\f1db";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  color: #555;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  transition: all 50ms ease-in-out; }

.nm form input[type="radio"]:checked + .label-text:before {
  content: "\f111";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  color: #42A5F5;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

@media (max-width: 700px) {
  .nm .span .link_top {
    display: block;
    float: none;
    margin-bottom: 20px; }
  .nm .span button {
    width: 50%; }
    .nm .span button:nth-child(3) {
      width: calc(50% - 15px); } }

.nm .section_action_bar .secondary_button {
  margin-right: 15px; }

@media (max-width: 450px) {
  .nm .section_action_bar .link_top {
    display: block;
    float: none;
    margin-bottom: 20px; }
  .nm .section_action_bar button {
    width: 100%; }
    .nm .section_action_bar button:nth-child(3) {
      width: 100%;
      margin-right: 0;
      margin-top: 20px; } }

@media (max-width: 450px) {
  .nm .fc-left {
    float: none;
    width: 100%;
    margin-bottom: 20px; }
    .nm .fc-left h2 {
      float: none; }
  .nm .fc-right {
    float: none;
    width: 100%; }
    .nm .fc-right > div {
      float: left; }
    .nm .fc-right > button {
      float: right; } }

.nm .error_tile {
  margin-bottom: 20px; }

.nm form > h4 {
  margin-left: 16px;
  margin-right: 16px; }

.upC .secondary_button {
  margin-right: 15px; }

.upC form .disabled {
  border: 0 !important; }

.upC table thead th {
  border: none; }

.upC table tbody tr td {
  padding-top: 14px; }

.upC table tbody tr:first-child td {
  border: none; }

.upC table tbody .password_row td {
  padding-top: 20px;
  padding-bottom: 20px; }
  .upC table tbody .password_row td:first-child {
    padding-top: 25px; }

.upC table input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 6px; }
  .upC table input:focus {
    border: 1px solid #42A5F5; }
