.csched #composeScheduleCal .fc-prev-button, .csched #composeScheduleCal .fc-next-button, .csched #composeScheduleCal .fc-today-button {
  margin-right: 10px;
  border: 2px solid #555;
  color: #555;
  background-color: white;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 12px;
  height: auto; }
  .csched #composeScheduleCal .fc-prev-button:hover, .csched #composeScheduleCal .fc-next-button:hover, .csched #composeScheduleCal .fc-today-button:hover {
    border-color: black;
    background-color: white;
    color: black; }
  .csched #composeScheduleCal .fc-prev-button:focus, .csched #composeScheduleCal .fc-next-button:focus, .csched #composeScheduleCal .fc-today-button:focus {
    outline: none !important; }
  .csched #composeScheduleCal .fc-prev-button:active, .csched #composeScheduleCal .fc-next-button:active, .csched #composeScheduleCal .fc-today-button:active {
    border-color: #384047;
    background-color: white;
    color: #384047;
    box-shadow: none; }

.csched #composeScheduleCal .fc-deleteBtn-button {
  display: none;
  padding: 6px 12px;
  height: auto;
  background-color: white;
  background-image: none;
  border: 2px solid #ef8b80;
  color: #ef8b80; }
  .csched #composeScheduleCal .fc-deleteBtn-button:hover {
    border: 2px solid #E74C3C;
    color: #E74C3C; }
  .csched #composeScheduleCal .fc-deleteBtn-button:focus {
    outline: none !important; }
  .csched #composeScheduleCal .fc-deleteBtn-button:active {
    border: 2px solid #E74C3C;
    color: #E74C3C; }

.csched #composeScheduleCal .fc-today-button[disabled="disabled"]:hover {
  color: inherit;
  border-color: #555; }

.csched .csched_actionbar {
  margin-bottom: 50px; }
  .csched .csched_actionbar button {
    float: right; }
  .csched .csched_actionbar input[type="text"] {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 5px 0 5px 0;
    width: 30%;
    margin-left: 10px; }
    .csched .csched_actionbar input[type="text"]:focus {
      outline: none;
      border-bottom: 2px solid #384047; }
  .csched .csched_actionbar label {
    color: black;
    margin-left: 30px; }

.csched .fc-toolbar {
  margin-bottom: 30px; }

.udash .udash_content_type_title {
  margin-bottom: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc; }
  .udash .udash_content_type_title h4 {
    color: #555;
    font-size: 20px; }

.udash .udash_empty_state_msg {
  margin-top: 30px;
  color: #555;
  font-style: italic;
  font-size: 18px; }

.udash .top-dash-banner {
  position: relative;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  margin: 0 0 30px 0;
  padding: 10px 0 10px 0;
  height: 80px; }

.udash .meetg-sched-banner {
  height: 69px;
  background-image: url("../../../img/dashboard.jpg");
  opacity: 1; }

.udash .meetg-sched-btn {
  height: 30px;
  width: 200px;
  position: absolute;
  left: calc(50% - 90px);
  bottom: -15px;
  opacity: 1; }

.udash .action-section {
  margin-bottom: 30px; }

.udash .dashboard-page {
  padding: 70px 0; }

.udash .add-btn {
  position: absolute;
  top: -50px;
  left: 90%; }
  .udash .add-btn .add {
    background: url("../../../img/add.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 80px;
    height: 80px; }
  .udash .add-btn .import {
    background: url("../../../img/import.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 60px;
    height: 60px; }
  .udash .add-btn .compose {
    background: url("../../../img/compose.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    width: 50px;
    height: 90px; }
  .udash .add-btn .label-text {
    font-size: 12px;
    position: absolute;
    top: 50%;
    margin-left: 40px; }

.udash .imported-section {
  margin-bottom: 70px; }

.udash label.schedule-checkbox input[type=checkbox] {
  display: none; }
  .udash label.schedule-checkbox input[type=checkbox] + .label-text:before {
    content: url("../../../img/schedule.png"); }
  .udash label.schedule-checkbox input[type=checkbox]:checked + .label-text:before {
    content: url("../../../img/schedule-off.png"); }

.udash .circled-checkbox {
  cursor: default; }
  .udash .circled-checkbox input[type="checkbox"] {
    display: none; }

.udash .circled-checkbox input[type="checkbox"] + .label-text:before {
  content: "\f10c";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  margin-right: 7px;
  color: #5a6772; }

.udash .circled-checkbox input[type="checkbox"]:checked + .label-text:before {
  content: "\f111"; }

.udash .imported-schedules-title-bar {
  margin-top: 30px; }
  .udash .imported-schedules-title-bar h2 {
    font-weight: 600;
    color: #384047; }

.udash .imported-schedules-bar {
  margin-bottom: 30px;
  margin-top: 15px; }
  .udash .imported-schedules-bar div div {
    width: 400px;
    display: inline-block;
    float: left;
    margin-right: 15px;
    /*input
          width: calc(100% - 34px)
          margin-left: 10px
          border-bottom: 2px solid #ddd
          padding: 5px 0 5px 0

          &:focus
            outline: none
            border-bottom: 2px solid $glob_gray */ }

.udash .imported-schedules-content tbody tr td {
  width: 25%; }

.udash .imported-schedules-content tbody tr td:last-child {
  padding-right: 10px; }
  .udash .imported-schedules-content tbody tr td:last-child span {
    color: #5a6772;
    margin-right: 15px;
    cursor: pointer; }
    .udash .imported-schedules-content tbody tr td:last-child span:last-child {
      margin-right: 0; }
    .udash .imported-schedules-content tbody tr td:last-child span:hover {
      color: #384047; }

.udash #importSchedule .modal-header, .udash #editSchedule .modal-header {
  padding-left: 30px; }
  .udash #importSchedule .modal-header h3, .udash #editSchedule .modal-header h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block; }

.udash #importSchedule .modal-body, .udash #editSchedule .modal-body {
  padding: 30px; }
  .udash #importSchedule .modal-body > p, .udash #editSchedule .modal-body > p {
    margin-bottom: 2px;
    font-weight: 600; }
  .udash #importSchedule .modal-body input[type="text"], .udash #importSchedule .modal-body input[type="email"], .udash #importSchedule .modal-body input[type="password"], .udash #importSchedule .modal-body input[type="url"], .udash #editSchedule .modal-body input[type="text"], .udash #editSchedule .modal-body input[type="email"], .udash #editSchedule .modal-body input[type="password"], .udash #editSchedule .modal-body input[type="url"] {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 5px 0 5px 0;
    margin-bottom: 15px;
    width: 60%; }
    .udash #importSchedule .modal-body input[type="text"]:focus, .udash #importSchedule .modal-body input[type="email"]:focus, .udash #importSchedule .modal-body input[type="password"]:focus, .udash #importSchedule .modal-body input[type="url"]:focus, .udash #editSchedule .modal-body input[type="text"]:focus, .udash #editSchedule .modal-body input[type="email"]:focus, .udash #editSchedule .modal-body input[type="password"]:focus, .udash #editSchedule .modal-body input[type="url"]:focus {
      outline: none;
      border-bottom: 2px solid #384047; }
  .udash #importSchedule .modal-body input[type="url"], .udash #editSchedule .modal-body input[type="url"] {
    width: 80%; }
  .udash #importSchedule .modal-body h4, .udash #editSchedule .modal-body h4 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px; }
  .udash #importSchedule .modal-body table, .udash #editSchedule .modal-body table {
    margin-bottom: 0; }
  .udash #importSchedule .modal-body .errorContainer, .udash #editSchedule .modal-body .errorContainer {
    margin-top: 15px; }

.udash .wrench-link {
  color: #5a6772;
  text-decoration: none;
  margin-right: 15px; }
  .udash .wrench-link:hover {
    color: #384047; }
