<div class="container">
  <div class="row">
    <h2>Employee detail</h2>
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>Name : {{empOrgC.data.name}}</li>
        <li>Email : {{empOrgC.data.email}}</li>
        <li>Password : .....</li>
      </ul>
      <button>Change name</button>
      <button>Change email</button>
      <button>Change password</button>
      <button>Delete employee</button>
    </div>
    <div class="col-md-6">
      <h3>Joined groups</h3>
      <ul class="list-unstyled">
        <li></li>
      </ul>
    </div>
  </div>
</div>
