<div class="container">
  <div class="row">
    <h2>Employee detail</h2>
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li>Name : {{empOrgC.data.name}}</li>
        <li>Email : {{empOrgC.data.email}}</li>
        <li>Password : .....</li>
      </ul>
      <form ng-show="empOrgC.nameMailForm.formVisible" name="nmeForm" ng-submit="empOrgC.nameMailForm.submit()" novalidate>
        Edit your name
        <input name="name" type="text" ng-model="empOrgC.nameMailForm.name" placeholder="{{empOrgC.profileData.name}}">
        <br>
        Edit your email
        <input name="email" type="email" ng-model="empOrgC.nameMailForm.email" placeholder="{{empOrgC.profileData.email}}">
        <div ng-show="empOrgC.nameMailForm.sinvalidFields.emailVal">Insert a valid mail</div>
        <br>
        <button type="submit" class="btn btn-default">Confirm</button>
        <button class="btn btn-default" ng-click="empOrgC.nameMailForm.abort()">Abort</button>
      </form>
      <form ng-show="empOrgC.passwordForm.formVisible" name="peForm" ng-submit="empOrgC.passwordForm.formVisible" novalidate="">
        Insert a new password
        <input name="password" ng-minLength="6" type="password" ng-model="empOrgC.passwordForm.data.password">
        <br>
        Confirm your password
        <input name="cpassword" type="password" ng-model="empOrgC.passwordForm.data.cpassword">
        <br>
        <br>
        <div ng-show="empOrgC.passwordForm.invalidFields.passwordLen">Please insert a password of at least 6 characters</div>
        <div ng-show="empOrgC.passwordForm.invalidFields.passwordMatch">The two passwords don't match</div>
        <button type="submit" class="btn btn-default">Confirm</button>
        <button class="btn btn-default" ng-click="empOrgC.passwordForm.abort()">Abort</button>
        <br>
        <br>
      </form>
      <button class="btn btn-default" ng-click="empOrgC.nameMailForm.show()">Change name and email</button>
      <br>
      <br>
      <button class="btn btn-default" ng-click="empOrgC.passwordForm.show()">Change password</button>
      <br>
      <br>
      <button class="btn btn-default" ng-click="empOrgC.delete()">Delete employee</button>
    </div>

    <div class="col-md-6">
      <h3>Joined groups</h3>
      <ul class="list-unstyled">
        <li></li>
      </ul>
    </div>
  </div>
</div>
