<div class="container">
  <style>
    .disabled {
      border: none;
    }
    input {
      cursor: text;
    }
  </style>
  <div class="row">
    <h2>Employee detail</h2>
    <div class="col-md-6">
      <form name="changeForm" novalidate>
      <ul class="list-unstyled">
        <li>Name :
          <input required name="name" type="text" ng-model="empOrgC.dataC.name" ng-readonly="!empOrgC.changeNameMail.inChange" ng-class="{disabled : !empOrgC.changeNameMail.inChange}">
        </li>
        <li>Email :
          <input required name="email" type="email" ng-model="empOrgC.dataC.email" ng-readonly="!empOrgC.changeNameMail.inChange" ng-class="{disabled : !empOrgC.changeNameMail.inChange}">
        </li>
        <li>Password :
          <input name="password" ng-minlength="6" type="password" ng-model="empOrgC.dataC.password" ng-readonly="!empOrgC.changePassword.inChange" ng-class="{disabled : !empOrgC.changePassword.inChange}" >
        </li>
        <li ng-show="empOrgC.changePassword.inChange">
          Confirm password :
          <input name="password_confirmation" type="password" ng-model="empOrgC.dataC.password_confirmation" >
        </li>
        </ul>
        <p ng-show="empOrgC.changeNameMail.invalidFields.nameReq">Insert a name</p>
        <p ng-show="empOrgC.changeNameMail.invalidFields.emailReq">Insert a mail</p>
        <p ng-show="empOrgC.changeNameMail.invalidFields.emailVal">Insert a validmail</p>
        <p ng-show="empOrgC.changePassword.invalidFields.passwordLen">password too short</p>
        <p ng-show="empOrgC.changePassword.invalidFields.passwordMatch">password don't match</p>
        <button class="btn btn-default" ng-show="empOrgC.changeNameMail.inChange" ng-click="empOrgC.changeNameMail.submit()">CHANGE</button>
        <button class="btn btn-default" ng-show="empOrgC.changePassword.inChange" ng-click="empOrgC.changePassword.submit()">CHANGE</button>
        <button class="btn btn-default" ng-show="empOrgC.changeNameMail.inChange" ng-click="empOrgC.changeNameMail.abort()">ABORT</button>
        <button class="btn btn-default" ng-show="empOrgC.changePassword.inChange" ng-click="empOrgC.changePwd.abort()">ABORT</button>
      </form>

      <button class="btn btn-default" ng-hide="empOrgC.changeNameMail.inChange"  ng-click="empOrgC.changeNameMail.show()">Change name and email</button>
      <br>
      <br>
      <button class="btn btn-default" ng-click="empOrgC.changePassword.show()">Change password</button>
      <br>
      <br>
      <button class="btn btn-default" ng-click="empOrgC.delete()">Delete employee</button>
    </div>

    <div class="col-md-6">
      <h3>Joined groups</h3>
      <ul class="list-unstyled">
        <li ng-repeat="group in empOrgC.data.groups">
          <a href="/#/organization/groups/{{group.id}}">{{group.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
