@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
  font-family: "Open Sans", Helvetica, Arial sans-serif; }

div.page-content {
  margin: 30px 80px 30px 80px; }

div.page-content.page-content-top {
  background-color: #6858df;
  opacity: 0.6; }

div.content-left {
  float: left;
  margin-left: 30px; }

div.content-left.organization {
  background-color: light-blue; }

div.content-right {
  float: right;
  margin-right: 30px; }

div.form-register {
  width: 400px;
  margin: 0 auto;
  padding: 0 50 0 50;
    padding-border-style: solid;
    padding-border-radius: 25; }

div.form-signin {
  width: 400px;
  margin: 0 auto;
  padding: 0 50 0 50;
    padding-border-style: solid;
    padding-border-radius: 25; }

.navbar-default {
  background-color: #6858df;
  border: 0;
  border-radius: 0; }

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF; }

.navbar-default .navbar-brand {
  color: #FFFFFF; }

.btn-primary {
  background-color: #6858df;
  border-color: #FFFFFF; }

.btn-primary:hover {
  background-color: #6858df; }

.btn-default {
  border-color: #6858df; }

.btn-default:hover {
  color: #6858df; }
