.form-register {
  width: 400px;
  margin: 0 auto;
  padding: 0 50 0 50;
    padding-border-style: solid;
    padding-border-radius: 25; }

.form-signin {
  text-align: center;
  width: 80%;
  border: 2;
    border-border-style: solid;
    border-border-radius: 25;
  margin: 50px auto;
  padding: 0 50px 0 50px; }

.text-form {
  text-align: center;
  margin-bottom: 7px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin solid #000000; }

.form-fields {
  margin: 30px 0 30px 0; }
