img.image-loader {
  width: 30px; }

.form-register {
  width: 400px;
  margin: 0 auto;
  padding: 0 50 0 50;
    padding-border-style: solid;
    padding-border-radius: 25; }

.search-field {
  width: 60%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin solid #000000; }
  .search-field input:focus {
    outline: none; }

.text-form {
  text-align: center;
  width: 50%;
  max-width: 400px;
  margin-bottom: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin solid #000000; }
  .text-form input:focus {
    outline: none; }

input[type=email].text-form:before {
  content: "bla"; }

.form-fields {
  text-align: center;
  margin: 30px 0 30px 0; }
