@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800);
.signin-body.ng-scope {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  backgroung-color: #ffa500;
  opacity: 1; }
