<div class="container-fluid">
    <div class="row ">
        <div class="col-md-10 col-md-push-1 text-center">
            <br/>
            <br/>
            <img src="assets/img/logoIcon.png" alt="Plunner"/>
            <br/>
            <br/>
            <h1>Error 401</h1>
            <h1 class="font_light">You're session expired! Please sign in again</h1>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row text-center">

        <a href="/#/signInHub" class="main_button">GO TO SIGN IN</a>
    </div>
</div>