<div class="container-fluid">
    <div class="row ">
        <div class="col-md-10 col-md-push-1 text-center">
            <br/>
            <br/>
            <img src="assets/img/logoIcon.png" alt="Plunner"/>
            <br/>
            <br/>
            <h1>Error 500</h1>
            <h1 class="font_light">A problem occurred on the server</h1>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row text-center">
        <a href="/#/" class="main_button">GO BACK HOME</a>
    </div>
</div>