<div class="container-fluid" redirecterror>
    <div class="row ">
        <div class="col-md-10 col-md-push-1 text-center">
            <br/>
            <br/>
            <img src="assets/img/logoIcon.png" alt="Plunner"/>
            <br/>
            <br/>
            <h1>Communication error</h1>
            <h1 class="font_light">A communication error occured</h1>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row text-center">
        <a href="{{reference}}" class="main_button">{{advice}}</a>
    </div>
</div>