<form name="usiForm" ng-submit="usiC.process()" ng-controller="usiController as usiC" novalidate>
  <h2>Sign in</h2>
  <h5>Enter your credentials</h5>
  <div>
    <input name="usiEmail" type="email" required ng-model="usiC.usiEmail" placeholder="Email">
    <input name="usiPwd" type="password" required ng-model="usiC.usiPwd" placeholder="Password">
  </div>
  <button>Sign in</button>
  <div ng-if="usiC.validFields.emailReq">
    You did not insert an email address
  </div>
  <div ng-if="usiC.validFields.inputReq">
    You did not insert an password
  </div>
  <div ng-if="usiC.validFields.emailVal">
    You did not insert a valid email address
  </div>
</form>
