
<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PLUNNER</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/user/profile">
                    <span class="glyphicon glyphicon-user"></span> Employee Name</a></li>
                <li><a href="#">How To</a></li>
                <li><a href="#">Contact</a></li>
                <li><button type="button" class="btn btn-danger navbar-btn" logout redirect="/">SIGN OUT</button></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="top-odash-banner row">
        <h2 class="text-center">Dashboard</h2>
        <div class="view-switcher" role="group" aria-label="...">
            <button type="button" ng-class="{switchSelected : udashC.meetingSection}" ng-click="udashC.showMeetings()" class="btn btn-default">MEETINGS</button>
            <button style="padding-left: 17px" type="button" ng-class="{switchSelected : udashC.scheduleSection}" ng-click="udashC.showSchedules()" class="btn btn-default">SCHEDULES</button>
        </div>
    </div>
    <div class="row" ng-show="udashC.meetingSection">
        <div class="col-md-10 col-md-push-1">
            <div class="row imported-schedules-title-bar">
                <div class="col-md-12">
                    <h2>MEETINGS TO BE PLANNED</h2>
                </div>
            </div>
            <div class="row imported-schedules-bar">
                <div class="col-md-12">
                    <div>
                        <span class="fa fa-search fa-lg"></span>
                        <input class="search-field" type="search" ng-model="filterTBPMeetings" placeholder="Search for..."/>
                    </div>
                    <a href="/#/user/newmeeting">
                        <button class="btn btn-default glob_button"><i class="fa fa-plus"></i>&nbsp;&nbsp;Plan a meeting</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 imported-schedules-content">
                    <!--{{udashC.meetingsList.groupA.data}}
                    {{udashC.meetingsList.groupB.data}}-->
                    <table class="table">
                        <thead>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Description</th>
                        </thead>
                        <tbody >
                        <tr ng-repeat="data in udashC.meetingsList.groupA.data | filter: {title : filterTBPMeetings} | limitTo: 10">
                            <td>{{data.title}}</td>
                            <td>{{data.group_name}}</td>
                            <td>{{data.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p ng-show="udashC.meetingsList.groupA.data.length === 0" class="text-center" style="font-size: 16px; font-style: italic">None</p>
                </div>
            </div>
            <div class="row imported-schedules-title-bar">
                <div class="col-md-12">
                    <h2>MEETINGS PLANNED</h2>
                </div>
            </div>
            <div class="row imported-schedules-bar">
                <div class="col-md-12">
                    <div>
                        <span class="fa fa-search fa-lg"></span>
                        <input class="search-field" type="search" ng-model="filterPMeetings" placeholder="Search for..."/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 imported-schedules-content">
                    <table class="table">
                        <thead>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Description</th>
                        <th>Date</th>
                        </thead>
                        <tbody >
                        <tr ng-repeat="data in udashC.meetingsList.groupB.data | filter: filterPMeetings | limitTo: 10">
                            <td>{{data.title}}</td>
                            <td>{{data.group_name}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.finalDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p ng-show="udashC.meetingsList.groupB.data.length === 0" class="text-center" style="font-size: 16px; font-style: italic">None</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="udashC.scheduleSection">
        <div class="col-md-10 col-md-push-1">
            <div class="row imported-schedules-title-bar">
                <div class="col-md-12">
                    <h2>IMPORTED SCHEDULES</h2>
                </div>
            </div>
            <div class="row imported-schedules-bar">
                <div class="col-md-12">
                    <div>
                        <span class="fa fa-search fa-lg"></span>
                        <input class="search-field" type="search" ng-model="filterISchedules" placeholder="Search for..."/>
                    </div>
                    <button class="btn btn-default glob_button" ng-click="udashC.importSchedule.showPopup()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Import Schedule</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 imported-schedules-content">
                    <table class="table">
                        <thead>
                        <th>Name</th>
                        <th>Synced on</th>
                        <th class="text-center">Enabled</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="calendar in udashC.schedulesList.groupB.data | filter: {name : filterISchedules} | limitTo: 10">
                            <td>{{calendar.name}}</td>
                            <td>{{calendar.caldav.updated_at}}</td>
                            <td class="text-center">
                                <label class="circled-checkbox">
                                    <input type="checkbox" ng-checked="calendar.enabled === '1'"/>
                                    <span class="label-text"></span>
                                </label>
                            </td>
                            <td class="text-right"><span class="fa fa-wrench fa-lg" ng-click="udashC.editSchedule.showPopup($index)"></span><span class="fa fa-trash-o fa-lg" ng-click="udashC.deleteSchedule(calendar.id)"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <p ng-show="udashC.schedulesList.groupB.data.length === 0" class="text-center" style="font-size: 16px; font-style: italic">None</p>
                </div>
            </div>
            <div class="row imported-schedules-title-bar">
                <div class="col-md-12">
                    <h2>COMPOSED SCHEDULES</h2>
                </div>
            </div>
            <div class="row imported-schedules-bar">
                <div class="col-md-12">
                    <div>
                        <span class="fa fa-search fa-lg"></span>
                        <input class="search-field" type="search" ng-model="filterCSchedules" placeholder="Search for..."/>
                    </div>
                    <a class="btn btn-default glob_button" href="/#/user/schedules/compose/_"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Compose Schedule</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 imported-schedules-content">
                    <table class="table">
                        <thead>
                        <th>Name</th>
                        <th>Last update</th>
                        <th class="text-center">Enabled</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="calendar in udashC.schedulesList.groupA.data | filter: {name : filterCSchedules} | limitTo: 10">
                            <td>{{calendar.name}}</td>
                            <td>{{calendar.updated_at}}</td>
                            <td class="text-center">
                                <label class="circled-checkbox">
                                    <input type="checkbox" ng-checked="calendar.enabled === '1'" disabled/>
                                    <span class="label-text"></span>
                                </label>
                            </td>
                            <td class="text-right"><a href="/#/user/schedules/compose/{{calendar.id}}&{{calendar.name}}&{{calendar.enabled}}" class="fa fa-wrench fa-lg" ></a><span class="fa fa-trash-o fa-lg" ng-click="udashC.deleteSchedule(calendar.id)"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <p ng-show="udashC.schedulesList.groupA.data.length === 0" class="text-center" style="font-size: 16px; font-style: italic">None</p>
                </div>
            </div>
        </div>

        <div id="importSchedule" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Import schedule</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <form name="importScheduleForm" novalidate>
                        <div class="modal-body">
                            <div>
                                <p>CalDav url</p>
                                <input name="url" type="url" ng-model="udashC.importSchedule.url" placeholder="Insert CalDav url" required>
                            </div>
                            <div>

                                <p>CalDav Username</p>
                                <input type="text" name="username" ng-model="udashC.importSchedule.username" placeholder="Insert CalDav username" required>
                                <p>CalDav Password</p>
                                <input type="password" name="password" ng-model="udashC.importSchedule.password" required placeholder="Insert CalDav password">
                            </div>

                            <button class="btn btn-default glob_button" ng-click="udashC.importSchedule.getCalendars()"><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;Get schedules</button>
                            <img ng-show="udashC.importSchedule.showLoader" src="assets/img/loader.gif" width="24px" alt="">
                            <div ng-show="udashC.importSchedule.calendars.length > 0">
                                <h4>Available schedules</h4>
                                <table class="table">
                                    <thead>
                                    <th></th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="calendar in udashC.importSchedule.calendars">
                                        <td>{{calendar}}</td>
                                        <td>
                                            <label class="circled-checkbox">
                                                <input type="checkbox" ng-model="udashC.importSchedule.selectedCals[$index].selected"/>
                                                <span class="label-text"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="errorContainer" ng-show="udashC.importSchedule.thereErrors || udashC.importSchedule.errors.length > 0">
                                <p class="text-danger" ng-repeat="error in udashC.importSchedule.errors">{{error}}</p>
                                <p class="text-danger" ng-show="udashC.importSchedule.invalidFields.urlRequired">Insert a caldav url</p>
                                <p class="text-danger" ng-show="udashC.importSchedule.invalidFields.urlVal">Insert a valid caldav url</p>
                                <p class="text-danger" ng-show="udashC.importSchedule.invalidFields.usernameRequired">Insert a username</p>
                                <p class="text-danger" ng-show="udashC.importSchedule.invalidFields.passwordRequired">Insert a password</p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default glob_button" data-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-default glob_button" ng-click="udashC.importSchedule.submit()">Import</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="editSchedule" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Edit schedule</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <form name="editScheduleForm" novalidate>
                        <div class="modal-body">
                            <p>Name</p>
                            <input required name="name" type="text" ng-model="udashC.editSchedule.data.name"/>
                            <p>CalDav calendar name</p>
                            <input required name="cal_name" type="text" ng-model="udashC.editSchedule.data.cal_name"/><br/>
                            <p>CalDav url</p>
                            <input required name="url" type="url" ng-model="udashC.editSchedule.data.url"/><br/>
                            <p>CalDav username</p>
                            <input required name="username" type="text" ng-model="udashC.editSchedule.data.username"/><br/>
                            <p>CalDav password</p>
                            <input name="password" type="password" ng-minLength="6" ng-model="udashC.editSchedule.data.password"/><br/>
                            <p>Confirm password</p>
                            <input name="password_confirmation" type="password" ng-model="udashC.editSchedule.password_confirmation"/><br/>
                            <p>Enabled</p>
                            <label class="circled-checkbox">
                                <input type="checkbox" ng-checked="udashC.editSchedule.data.enabled === '1'" ng-model="udashC.editSchedule.data.enabled"/>
                                <span class="label-text"></span>
                            </label>
                            <div class="errorContainer" ng-show="udashC.editSchedule.thereErrors || udashC.editSchedule.errors.length > 0">
                                <p ng-repeat="error in udashC.editSchedule.errors">{{error}}</p>
                                <p ng-show="udashC.editSchedule.invalidFields.nameReq" class="text-danger">Insert the user password</p>
                                <p ng-show="udashC.editSchedule.invalidFields.passwordLength" class="text-danger">The password must contains at least 6 characters</p>
                                <p ng-show="udashC.editSchedule.invalidFields.urlReq" class="text-danger">Insert the user email address</p>
                                <p ng-show="udashC.editSchedule.invalidFields.urlVal" class="text-danger">The email address is not valid</p>
                                <p ng-show="udashC.editSchedule.invalidFields.passwordMatch" class="text-danger">The two passwords do not match</p>
                                <p ng-show="udashC.editSchedule.invalidFields.usernameReq" class="text-danger">Insert the user name</p>
                                <p ng-show="udashC.editSchedule.invalidFields.calnameReq" class="text-danger">Insert the calendar name</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default glob_button" data-dismiss="modal" aria-label="Close">Abort</button>
                            <button class="btn btn-default glob_button" ng-click="udashC.editSchedule.submit()">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="confirmPopup" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center">{{udashC.confirmPopup.message}}</h3>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <br/>
</div>