<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- HEADER -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Plunner</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#/user/profile">
            <span class="glyphicon glyphicon-user"></span> Employee Name</a></li>
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li><button type="button" class="btn btn-danger navbar-btn" ng-click="udashC.logout()">Sign Out</button></li>
        </ul>
      </div>
    </div>
  </div>

<div class="page-content">

  <h2>Meetings</h2>
  <a href="/#/user/newmeeting">Make a meeting</a>
  <div style="width: 100%">
    <div>
      <div ng-click="udashC.meetingsList.groupA.show()" class="text-center" style="float:left; width:50%">TO BE PLANNED</div>
      <div ng-click="udashC.meetingsList.groupB.show()" class="text-center" style="float:left; width:50%">PLANNED</div>
    </div>
    <table ng-show="udashC.meetingsList.groupA.isVisible" class="table">
      <thead>
        <th>Name</th>
        <th>Group</th>
        <th>Time window</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Bla</td>
          <td>Bla</td>
          <td>Bla</td>
          <td>Go</td>
        </tr>
      </tbody>
    </table>
    <table class="table" ng-show="udashC.meetingsList.groupB.isVisible">
      <thead>
        <th>Name</th>
        <th>Group</th>
        <th>Planned for</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Bla</td>
          <td>Bla</td>
          <td>Bla</td>
          <td>Go</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
