<form name="sinForm" ng-submit="sinC.process()" ng-controller="sinController as sinC" novalidate>
  <h2>Sign in</h2>
  <h5>Enter your credentials</h5>
  <div>
    <input name="sinEmail" type="email" required ng-model="siC.sinEmail">
    <input name="sinPwd" type="password" required ng-model="siC.sinPwd">
  </div>
  <button>Sign in</button>
  <div ng-if="sinForm.sinEmail.$error.required && dsiForm.$submitted">
    You did not insert a mail address
  </div>
  <div ng-if="sinForm.sinEmail.$error.email && dsiForm.$submitted">
    You did not insert a valid mail address
  </div>
  <div ng-if="sinForm.sinPwd.$error.required && dsiForm.$submitted">
    You did not insert a mail address
  </div>
</form>
