
<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PLUNNER</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/user">Dashboard</a></li>
                <li><a href="/#/user/profile">
                    <span class="glyphicon glyphicon-user"></span> Employee Name</a></li>
                <li><a href="#">How To</a></li>
                <li><a href="#">Contact</a></li>
                <li><button type="button" class="btn btn-danger navbar-btn" logout redirect="/">SIGN OUT</button></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="top-odash-banner row">
        <h2 class="text-center">NEW MEETING</h2>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="row">
                <div class="col-md-5">
                    <h2>INFORMATION</h2>

                    <form name="meetingInfoForm" novalidate>
                        <p>Title</p>
                        <input type="text" name="title" ng-model="nmC.title" required/>
                        <p>Description</p>
                            <textarea name="description" ng-model="nmC.description" required>

                            </textarea>
                        <p>Duration(in mins)</p>
                        <input type="number" ng-model="nmC.duration" name="duration" required/>
                        <p>Group</p>
                        <div ng-repeat="group in nmC.groups">
                            <span>{{group.name}}</span>
                            <input type="radio" name="group" ng-checked="nmC.selectedGroupAssign(group.id)" >
                        </div>
                    </form>
                    <div class="errorContainer" ng-show="nmC.thereErrors || nmeC.errors.length > 0">
                        <p ng-show="nmC.invalidFields.nameReq">Insert a title</p>
                        <p ng-show="nmC.invalidFields.descriptionReq">Insert a description</p>
                        <p ng-show="nmC.invalidFields.durationReq">Insert a duration</p>
                        <p ng-show="nmC.invalidFields.durationVal">Insert a valid duration</p>
                        <p ng-show="nmC.invalidFields.durationLimit">Insert a shorter duration(max 720mins)</p>
                        <p ng-show="nmC.invalidFields.oneEventLeast">Insert at least one time window for the meeting</p>
                        <p ng-show="nmC.invalidFields.durationConflict">One time window is too short for the meeting</p>
                        <p ng-repeat="error in nmeC.errors">{{error}}</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div></div>
                    <h2>TIME WINDOW</h2>
                    <div id="meetingTimeslots">

                    </div>


                </div>

            </div>
            <div class="row">
                <button class="btn btn-default yellow-btn" ng-click="nmC.submit()">Plan meeting</button>
            </div>

        </div>

    </div>
    <br/>
    <br/>
</div>
