<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- HEADER -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Plunner</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#/user">Dashboard</a></li>
          <li><a href="/#/user/profile">
            <span class="glyphicon glyphicon-user"></span> Employee Name</a></li>
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li><button type="button" class="btn btn-danger navbar-btn" ng-click="dashEmpC.logout()">Sign Out</button></li>
        </ul>
      </div>
    </div>
  </div>

<div class="page-content">
  <h2>Plan a meeting</h2>
  <div class="row">
    <div class="col-md-6">
      <form name="formGroupA" novalidate>
        <p>
          Title
        </p>
        <input type="text" name="title" ng-model="nmC.formGroupA.data.title" required>
        <p class="text-danger" ng-show="nmC.formGroupA.invalidFields.titleReq">Insert a title for the meeeting</p>
        <p>
          Description
        </p>
        <textarea name="desc" rows="8" cols="40" ng-model="nmC.formGroupA.data.desc"></textarea>
        <p>Meeting place</p>
        <input type="text" name="meetingPlace" ng-model="nmC.formGroupA.data.meetingPlace">
        <p>Exported the planned meeting date to your schedules</p>
        <select name="exportDate" ng-model=" nmC.formGroupA.data.exportDate">
          <option value="YES">Yes</option>
          <option value="NO">No</option>
        </select>
      </form>
    </div>
    <div class="col-md-6">
      <form name="formGroupB" novalidate>
        <div id="meetingDatepicker">
          <div></div>
        </div>
        <input id="meetingDatepickerInput" ng-model="nmC.formGroupB.data.meetingRange" type="hidden">
        <p ng-show="nmC.formGroupB.data.invalidFields.range" class="text-danger">Please specify a date range(at least 2 days)</p>
        <p>Meeting repetion</p>
        <select name="meetingRepeat" ng-model="nmC.formGroupB.data.meetingRepeat">
          <option value="1W">every week</option>
          <option value="2W">every two weeks</option>
          <option value="1M">every month</option>
        </select>
        <p>Deadline</p>
        <button ng-click="nmC.formGroupB.showDlDatepicker()">Add deadline</button>
        <div id="deadlineDatepicker" ng-show="nmC.formGroupB.dlDatepickerVisibility">
        </div>
        <input type="hidden"  ng-model="nmC.formGroupB.data.deadline">
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <form name="formGroupC">
        <h2>Partecipants</h2>
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Required</th>
            <th>Exluded</th>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Bla</td>
              <td><input type="checkbox" ng-model="nmC.formGroupC.data.partecipants[0].required"></td>
              <td><input type="checkbox" ng-model="nmC.formGroupC.data.schedules[0].excluded"></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <form name="formGroupD">
        <h2>Schedules for the meeting</h2>
        <p ng-show="nmC.formGroupD.invalidFields.notimeslots" class="text-danger">If u not chose to use one of
        your schedule allow the use of timeslots or import you schedule in you dashboard</p>
        <ul class="list-unstyled">
          <li>sadasdsad
            <input type="hidden" ng-model="nmC.formGroupD.data.schedules[0]">
          </li>
          <li></li>
        </ul>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form name="formGroupE">
        <h2>Do you want to use your free time slots</h2>
        <select name="timeSlots" ng-model="nmC.formGroupD.data.timeSlots">
          <option value="YES">YES</option>
          <option value="NO">NO</option>
        </select>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary btn-lg">PLAN MEETING</button>
    </div>
  </div>
</div>
