<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/img/plunner.png" alt=""/>
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="user_section">
                    <a href="/#/user/profile">
                        <img class="user_icon" src="assets/img/user_icon.png" alt=""/>
                        <span></span> Employee Name</a>
                </li>
                <li>
                    <button type="button" class="navbar_button" logout redirect="/">SIGN OUT</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid nm">

    <div class="section_heading row">
        <h1 class="text-center font_light">New Meeting</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class="row section_action_bar">
                <a href="/#/user"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to dashboard</a>
                <button style="float:right" class="main_button" ng-click="nmC.submit()"><i class="fa fa-users"></i>&nbsp;&nbsp;Plan meeting</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class="row nm-content">
                <h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;INFORMATION</h4>

                <form name="meetingInfoForm" novalidate>
                    <div class="col-md-6">
                        <p>Title</p>
                        <input class="main_input" type="text" name="title" ng-model="nmC.title" required
                               placeholder="Insert a title"/>

                        <p>Description</p>
                            <textarea name="description" ng-model="nmC.description" required
                                      placeholder="Insert a description">

                            </textarea>
                    </div>
                    <div class="col-md-6">
                        <p>Duration(in mins)</p>
                        <input class="main_input" type="number" ng-model="nmC.duration" name="duration" required
                               placeholder="Insert a duration"/>

                        <p>Groups</p>

                        <div ng-repeat="group in nmC.groups">
                            <span style="margin-right: 10px">{{group.name}}</span>
                            <label class="circled_radio">
                                <input type="radio" name="group" ng-value="group.id" ng-model="nmC.selectedGroup">
                                <span class="label-text"></span>
                            </label>
                            <!--<input type="radio" name="group" ng-checked="nmC.selectedGroupAssign(group.id)" >-->
                        </div>
                    </div>
                </form>
                <div class="errorContainer" style="margin-top: 10px"
                     ng-show="nmC.thereErrors || nmeC.errors.length > 0">
                    <p ng-show="nmC.invalidFields.nameReq">Insert a title</p>

                    <p ng-show="nmC.invalidFields.descriptionReq">Insert a description</p>

                    <p ng-show="nmC.invalidFields.durationReq">Insert a duration</p>

                    <p ng-show="nmC.invalidFields.durationVal">Insert a valid duration(a number)</p>

                    <p ng-show="nmC.invalidFields.durationLimit">Insert a valid duration duration(max 300mins, min
                        15mins)</p>

                    <p ng-show="nmC.invalidFields.oneEventLeast">Insert at least one time window for the meeting</p>

                    <p ng-show="nmC.invalidFields.durationConflict">One time window is too short for the meeting</p>

                    <p ng-show="nmC.invalidFields.oneGroup">Select the group for the meeting</p>

                    <p ng-repeat="error in nmeC.errors">{{error}}</p>
                </div>
            </div>
            <br/>
            <div class="row">
                <h4><i class="fa fa-calendar"></i>&nbsp;&nbsp;TIME WINDOW</h4>
                <div class="col-md-12">
                    <div id="meetingTimeslots">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <br/>

    <div id="confirmPopup" class="modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <h3 class="text-center">{{nmC.confirmPopup.message}}</h3>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
