@import '../global/colors.sass'
@import '../global/size.sass'

// NAVIGATION BAR

.navbar
	margin-bottom: 0px

.navbar-default
	margin-bottom: 0px
	background-color: white
	border-top: 0
	border-left: 0
	border-right: 0
	border-bottom: 1px solid $second-color
	border-radius: 0

//	-webkit-box-shadow: 0px 10px 29px -10px rgba(0,0,0,0.75)
//	-moz-box-shadow: 0px 10px 29px -10px rgba(0,0,0,0.75)
//	box-shadow: 0px 10px 29px -10px rgba(0,0,0,0.75)

.navbar-default .navbar-nav>li>a
	color: $main-color

.navbar-default .navbar-brand
	color: $main-color
	font-weight: 900

.navbar-default .right-btn
	margin-left: $medium-norm

// BANNER

.top-banner
	position: relative
	border: 0
	border-radius: 0
	margin: 0 0 $medium-norm 0
	padding: 10 0 10 0 
	height: 30px

.top-banner2
	background-color: $edit-color
	border: 0
	border-radius: 0
	margin: 0 0 0 0
	padding: 10 0 10 0 
	height: 80px

.banner-button
	border-left: thin solid black

.banner-title
	font-size: 30px
	position: absolute
	top: $small-norm/2
	left: calc(50% - 90px)
