@import '../global/colors'
@import '../global/fonts'
@import '../shared/header'

body
	font-family: $font-stack

div.header-left
	margin-left: $header-margin

div.header-right
	display: inline
	float: right
	margin-right: $header-margin

div.form-register
	width: 400px
	margin: 0 auto
	padding: 0 50 0 50
    border-style: solid
    border-radius: 25