@import '../global/colors'
@import '../global/fonts'
@import '../shared/header'

body
	font-family: $font-stack

div.page-content
	margin: $small-margin $large-margin $small-margin $large-margin

div.page-content.page-content-top
	background-color: $purple
	opacity: 0.6

div.content-left
	float: left
	margin-left: $small-margin

div.content-left.organization
	background-color: light-blue

div.content-right
	float: right
	margin-right: $small-margin

div.form-register
	width: 400px
	margin: 0 auto
	padding: 0 50 0 50
    border-style: solid
    border-radius: 25

div.form-signin
	width: 400px
	margin: 0 auto
	padding: 0 50 0 50
    border-style: solid
    border-radius: 25

.navbar-default
	background-color: $purple
	border: 0
	border-radius: 0

.navbar-default .navbar-nav>li>a
	color: $white

.navbar-default .navbar-brand
	color: $white

.btn-primary
	background-color: $purple
	border-color: $white

.btn-primary:hover
	background-color: $purple

.btn-default
	border-color: $purple

.btn-default:hover
	color: $purple