//
// Project            : Plunner
// Authors            : G.Pea and J.Barré
//

@import '../global/colors.sass'
@import '../global/fonts.sass'

// NAVIGATION BAR

.navbar
  margin-bottom: 0px
  height: 50px

.navbar-default
  margin-bottom: 0px
  background-color: white
  border-top: 0
  border-left: 0
  border-right: 0
  border-bottom: 1px solid $second-color
  border-radius: 0

.navbar-default .navbar-nav > li > a
  color: $main-color

.navbar-default .navbar-brand
  color: $main-color
  font-weight: 900

.navbar-default .right-btn

// BANNER

.top-odash-banner
  position: relative
  height: 150px
  background: #6BAEF5
  opacity: .8

  h1
    margin-top: 52px
    color: white
    font-family: 'Roboto'
    font-weight: 300

.view-switcher
  button
    width: 50%
    padding: 12px 24px
    float: left
    font-family: 'Roboto'
    font-size: 20px
    font-weight: 400
    background-color: white
    border: 2px solid #42A5F5
    border-radius: 0
    outline: none



.switchSelected
  color: white !important
  background-color: #42A5F5 !important

.top-banner
  position: relative
  border: 0
  border-radius: 0
  padding: 10px 0 10px 0
  height: 30px

.top-banner2
  background-color: $edit-color
  border: 0
  border-radius: 0
  margin: 0 0 0 0
  padding: 10px 0 10px 0
  height: 80px

.banner-button
  border-left: thin solid black

.banner-title
  font-size: 30px
  position: absolute
  left: calc(50% - 90px)
