<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- HEADER -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Plunner</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="/#/organization/profile">
            <span class="glyphicon glyphicon-user"></span> Organization Name</a></li>
          <li><button type="button" class="btn btn-danger navbar-btn" ng-click="opC.logout()">Sign Out</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page-content">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><h1><b>{{opC.organizationName}}</b></h1></div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">Registration Email: </div>
    <div class="col-md-6">{{opC.organizationEmail}}</div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">Password: </div>
    <div class="col-md-6">XXXXXXX</div>
    <div class="col-md-3">
      <button class="btn btn-default" data-toggle="modal" data-target="#editProfile"><a href>
        <span style="font-size:30px" class="glyphicon glyphicon-wrench"></span> Edit my Profile
      </a></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><button class="btn btn-danger" ng-click="opC.deleteAccount()">Delete this account</button></div>
  </div>
  
  <div id="editProfile" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Edit my Profile
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <p>Type here to change your Organization name</p>
            <input type="text" class="form-control" ng-model="opC.editProfile.name" placeholder="{{opC.organizationName}}">
            <hr>
            <p>Type here to change Email address</p>
            <input type="text" class="form-control" ng-model="opC.editProfile.email" placeholder="{{opC.organizationEmail}}">
            <p ng-show="opC.editProfile.invalidFields.emailReq">The new email address is not valid</p>
            <hr>
            <p>Type here to change Password</p>
            <input type="password" class="form-control" ng-model="opC.editProfile.newPwd">
            <p ng-show="opC.editProfile.invalidFields.newPwdReq">Your new password must contain at least 6 characters</p>
            <p>Confirm new Password</p>
            <input type="password" class="form-control" ng-model="opC.editProfile.newPwdCheck">
            <p ng-show="opC.editProfile.invalidFields.newPwdCheckReq">You typed two different new password</p>
            <hr>
            <i>Mandatory for changes validation</i>
            <p>Current Password</p>
            <input type="password" class="form-control" ng-model="opC.editProfile.pwd">
            <p ng-show="opC.editProfile.invalidFields.pwdReq">Password not valid</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="opC.editProfile.submit()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

</div>
