<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/img/plunner.png" alt=""/>
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="user_section">
                    <a href="/#/organization/profile">
                        <img class="user_icon" src="assets/img/user_icon.png" alt=""/>
                        Employee Name
                    </a>
                </li>
                <li>
                    <button type="button" class="navbar_button" logout redirect="/">SIGN OUT</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid upC">
    <div class="section_heading row">
        <h1 class="text-center font_light">Your profile</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1 media_adapt">
            <div class="section_action_bar" ng-class="{span : opC.editMode.flag}">
                <a href="/#/organization" class="link_top"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to dashboard</a>
                <button class="main_button" ng-click="opC.update.submit()" ng-show="opC.editMode.flag">Save changes
                </button>
                <button class="secondary_button" ng-show="opC.editMode.flag" ng-click="opC.editMode.exit()">Abort
                </button>
                <button ng-show="!opC.editMode.flag" class="main_button" ng-click="opC.editMode.enter()"><i
                        class="fa fa-wrench"></i>&nbsp;&nbsp;Edit profile
                </button>
            </div>
        </div>
    </div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1 media_adapt">
            <p class="error_tile" ng-repeat="error in opC.update.errros"><i class="fa fa-warning"></i>&nbsp;&nbsp;{{error}}</p>
            <div class="row">
                <div class="col-md-5">
                    <form name="opC_profile_form">
                        <table class="table">
                            <thead>
                            <th></th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr class="password_row">
                                <td class="font_bold">Name:</td>
                                <td>
                                    <input placeholder="Your name" name="name" type="text" ng-model="opC.dataCopy.name"
                                           ng-readonly="!opC.editMode.flag"
                                           ng-class="{disabled : !opC.editMode.flag, error_bordering: opC.update.invalidFields.nameReq }" required>

                                    <p class="error_msg" ng-show="opC.update.invalidFields.nameReq">Insert a name</p>
                                </td>

                            </tr>
                            <tr>
                                <td class="font_bold">Email:</td>
                                <td>
                                    <p>{{opC.data.email}}</p>
                                </td>
                            </tr>
                            <tr class="password_row">
                                <td class="font_bold">Password:</td>
                                <td>
                                    <input placeholder="your password" name="password" ng-minlength="6" type="password"
                                           ng-model="opC.dataCopy.password" ng-readonly="!opC.editMode.flag"
                                           ng-class="{disabled : !opC.editMode.flag, error_bordering: opC.update.invalidFields.passwordLength }">

                                    <p class="error_msg" ng-show="opC.update.invalidFields.passwordLength">Insert a
                                        password at least 6 characters long</p>
                                </td>
                            </tr>
                            <tr class="password_row" ng-show="opC.editMode.flag">
                                <td class="font_bold">Confirm password</td>
                                <td>
                                    <input name="password_confirmation" type="password"
                                           ng-model="opC.dataCopy.password_confirmation"
                                           ng-class="{error_bordering : opC.update.invalidFields.passwordMatch}">

                                    <p class="error_msg" ng-show="opC.update.invalidFields.passwordMatch">The passwords
                                        don't match</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="authorizationPopup" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-center">
                <img src="assets/img/484.GIF" alt=""/>
                <h2>&nbsp;&nbsp;Saving changes</h2>
            </div>
            <br/>
        </div>
    </div>
</div>
