<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- HEADER -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PLUNNER</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#/organization">Dashboard</a></li>
          <li><a href="/#/organization/profile">
            <!--<span class="glyphicon glyphicon-user"></span> -->
            <img class="img-profile" src="assets/img/company-logo.jpg">
            Organization Name</a></li>
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li><button type="button" class="btn btn-danger navbar-btn" logout redirect="/presentation">Sign Out</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div ng-show="opC.showCurrentState" class="top-banner">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><b>CURRENT STATE</b></div>
    <div class="col-md-4"><a href="" class="banner-button">EDIT</a></div>
  </div>
</div>

<div ng-show="opC.showEditMode" class="top-banner2">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><b>EDIT MODE</b></div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="page-content">

detected :
        <img class="img-country" src="assets/img/italia.png">Milano - ITALY<br>09:00pm

  <div class="row">
    <div class="col-md-3"><img class="img-profile2" src="assets/img/company-logo.jpg" ng-click="opC.enterEditMode()"></div>
    <div class="col-md-6"><h1><b>ORGANIZATION NAME</b></h1></div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">Registration Email: </div>
    <div class="col-md-6">{{opC.data.email}}</div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">Password: </div>
    <div class="col-md-6">XXXXXXX</div>
    <div class="col-md-3">
      <button class="btn btn-default" data-toggle="modal" data-target="#editProfile"><a href>
        <span style="font-size:30px" class="glyphicon glyphicon-wrench"></span> Edit my Profile
      </a></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <button class="btn btn-danger" data-toggle="modal" data-target="#deleteOrganisation">Delete this account</button></div>

  <h3>My profile</h3>
  <div>
    <br>
    <div>Name: {{opC.data.name}}</div>
    <br>
    <div>Email: {{opC.data.email}}</div>
    <br>
    <div>Password: .......</div>
    <br><br>
    <button data-target="#editProfile" data-toggle="modal" class="btn btn-default">Change</button>

  </div>
</div>
<div id="editProfile" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="display:inline-block; margin:5px 0">Edit my profile</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form name="editProfileForm" ng-submit="opC.editProfile.submit()" novalidate>
        <div class="modal-body">
            <p>Organization name</p>
            <input name="name" type="text" class="form-control" ng-model="opC.dataCopy.name" placeholder="Insert a new name for your organization">
            <hr>
            <p>Password</p>
            <input name="newPwd" type="password" class="form-control" ng-model="opC.editProfile.password" placeholder="Insert a new password">
            <br>
            <p>Confirm new Password</p>
            <input name="newPwdCheck" type="password" class="form-control" placeholder="Confirm your new password" ng-model="opC.editProfile.password_confirmation">
            <br>
            <p ng-show="opC.editProfile.invalidFields.passwordMatch" class="text-danger">The two inserted password don't match</p>
            <p ng-show="opC.editProfile.invalidFields.passwordLength" class="text-danger">Your password must contain at least 6 characters</p>
            <p class="text-danger" ng-repeat="error in opC.errors">{{error}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="confirmPopup" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
        <div class="modal-body">
            <h3>Changes successfully made</h3>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>
