<div>
  <h1>Success! Your are logged</h1>
  <a href="/#/employee/profile">Profile</a>
  <button ng-click="dashEmpC.logout()">Logout</button>
  <div>
    <h2>Employees</h2>
    <input type="search" placeholder="search">
    <button>See all</button>
    <button>Add employee</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Group</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Bla</td>
          <td>Bla</td>
          <td>Bla</td>
          <td>GO</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Groups</h2>
    <input type="search" placeholder="search">
    <button>See all</button>
    <button>Add group</button>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Planner</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Bla</td>
          <td>Bla</td>
          <td>GO</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
