<form name="usiForm" ng-submit="usiC.login()" novalidate>
  <h2>Sign in as an Employee</h2>
  <h5>Enter your credentials</h5>

  <div>
    <input name="company" type="text" required ng-model="usiC.org" placeholder="company"><br>
    <p class="text-danger">{{usiC.errors.company}}</p>
    <input name="usiEmail" type="email" required ng-model="usiC.email" placeholder="Email"><br>
    <p class="text-danger">{{usiC.errors.email}}</p>
    <input name="usiPwd" type="password" required ng-model="usiC.password" placeholder="Password"><br>
    <p class="text-danger">{{usiC.errors.password}}</p>
    <input type="checkbox" ng-model="usiC.rmbMe">Remember Me<br>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
  <div class="text-danger" ng-show="usiC.validFields.emailReq">
    You did not insert an email address
  </div>
  <div class="text-danger" ng-show="usiC.validFields.inputReq">
    You did not insert an password
  </div>
  <div class="text-danger" ng-show="usiC.validFields.emailVal">
    You did not insert a valid email address
  </div>
  <div class="text-danger" ng-show="usiC.nonRegUser">
    The data you inserted don't match any existing user
  </div>
  <div class="text-danger" ng-show="usiC.validFields.org">You did not insert an organization</div>
</br>
  <a href="/#/usirecovery">forgot your password?</a><br>
  <i>If you are an organization it is <a href="/#/osignin">here</a></i>
</form>
