@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800);
.classic {
  font-weight: 400; }

.light {
  font-weight: 300; }

.bold {
  font-weight: 600; }

.error-page-fours h1:first-child {
  margin-top: 100px;
  text-transform: uppercase;
  font-family: "Raleway", Helvetica, Arial, sans-serif; }

.error-page-fours h1:last-child {
  font-size: 30px; }

.error-page-fours .row {
  text-align: center; }
  .error-page-fours .row a {
    margin-top: 50px;
    background-color: #FFA500;
    color: white;
    border: none;
    width: 250px;
    padding: 12px 24px;
    text-transform: uppercase;
    outline: none; }
    .error-page-fours .row a:hover {
      background-color: #db8e00; }

.errorContainer {
  border: 1px solid #FF2800;
  background-color: rgba(255, 40, 0, 0.27);
  padding: 8px;
  padding-left: 10px;
  border-radius: 4px; }
  .errorContainer p {
    color: #FF2800; }
