@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800);
.classic {
  font-weight: 400; }

.light {
  font-weight: 300; }

.bold {
  font-weight: 600; }

img.image-loader {
  width: 30px; }

.search-field {
  width: 60%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin solid #000000; }
  .search-field input:focus {
    outline: none; }

.text-form {
  text-align: center;
  width: 50%;
  max-width: 400px;
  margin-bottom: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin solid #000000; }
  .text-form input:focus {
    outline: none; }

.form-norm input {
  padding: 5px 0 5px 0;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #ddd; }

.form-norm input.nm-input {
  text-align: left; }

.form-norm input[type="password"] {
  margin-bottom: 20px; }
  .form-norm input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #384047; }

.form-norm input[type="title"] {
  font-weight: 500px;
  font-size: 25px; }

.form-norm textarea {
  margin-bottom: 30px;
  padding: 7px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 75%;
    width-max-width: 400px;
  min-height: 80px; }

.form-fields {
  text-align: center;
  margin: 30px 0 30px 0; }
