@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
.font_light {
  font-weight: 300 !important; }

.font_normal {
  font-weight: 400 !important; }

.font_bold {
  font-weight: 500 !important; }

.search-field {
  width: 60%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin solid #000000; }
  .search-field input:focus {
    outline: none; }

.text-form {
  text-align: center;
  width: 50%;
  max-width: 400px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: thin solid #000000; }
  .text-form input:focus {
    outline: none; }

.form-norm input {
  padding: 5px 0 5px 0;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #ddd; }

.form-norm input.nm-input {
  text-align: left; }

.form-norm input[type="password"] {
  margin-bottom: 20px; }
  .form-norm input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #384047; }

.form-norm input[type="title"] {
  font-weight: 500;
  font-size: 25px; }

.form-norm textarea {
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 75%;
  max-width: 400px;
  min-height: 80px; }

.form-fields {
  text-align: center; }
