@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
  font-family: "Open Sans", Helvetica, Arial sans-serif;
  color: #000000; }

a {
  color: #ffa500; }

h2 {
  font-weight: bold; }

div.page-content {
  margin: 50px 50px 15px 50px; }

div.page-content.page-content-top {
  background-color: #000000;
  opacity: 0.6; }

div.content-left {
  float: left;
  margin-left: 15px; }

div.content-left.organization {
  background-color: light-blue; }

.content-right {
  float: right;
  margin-right: 15px; }

.col-md-4 {
  text-align: center; }

.img-country {
  height: 30px;
  width: 40px; }
