<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Plunner</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">How To</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="page-content">
   <form name="regForm" ng-submit="regC.process()" novalidate>
      <div class="form-register">
        <h2>Registration</h2>
        <br>
        <input name="name" class="form-control" type="text" placeholder="Organization Name" required ng-model="regC.name">
        <div ng-show="regC.invalidFields.nameReq" class="text-danger">
          You did not insert an organization name
        </div>
        <br>
        <input name="email" class="form-control" type="email" placeholder="Contact Email" required ng-model="regC.email">
        <div ng-show="regC.invalidFields.emailReq" class="text-danger">
          You did not insert an email address
        </div>
        <div ng-show="regC.invalidFields.emailVal" class="text-danger">
          You did not insert a valid email address
        </div>
        <br>
        <input name="password" class="form-control" ng-minlength="6" type="Password" placeholder="password" required ng-model="regC.password">
        <div ng-show="regC.invalidFields.passwordReq" class="text-danger">
          You did not insert a password
        </div>
        <div ng-show="regC.invalidFields.passwordLength" class="text-danger">
          The password must be of at least 6 characters
        </div>
        <br>
        <input name="passwordC" class="form-control" type="password" placeholder="Confirm Password" required ng-model="regC.passwordC">
        <div ng-show="regC.invalidFields.passwordMatch" class="text-danger">
          The two passwords don't match
        </div>
        <br>
        <div ng-repeat="(key,value) in regC.errors">
          <p class="text-danger" ng-repeat="error in value">{{error}}</p>
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
        </br><br>
        <i>Already registered? <a href="/#/orgsignin">Sign in here!</a></i>
      </div>
    </form>
</div>
