<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/img/plunner.png" alt=""/>
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="user_section">
                    <a href="/#/user/profile">
                        <img class="user_icon" src="assets/img/user_icon.png" alt=""/>
                        <span></span> Employee Name</a>
                </li>
                <li>
                    <button type="button" class="navbar_button" logout redirect="/">SIGN OUT</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid groupC">
    <div class="section_heading row">
        <h1 class="text-center font_light">Group Information</h1>
    </div>
    <div class="row editMode">
        <div class="col-md-8 col-md-offset-2">
            <div class="row section_action_bar">
                <a href="/#/organization"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to dashboard</a>
                <button class="main_button" ng-click="groupC.updateInfo()" ng-show="groupC.editMode.flag">Save changes</button>
                <button class="secondary_button" ng-show="groupC.editMode.flag" ng-click="groupC.editMode.exit()">Abort</button>
                <button ng-show="!groupC.editMode.flag" class="main_button" ng-click="groupC.editMode.enter()"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Edit group
                </button>
                <p class="error_msg pull-right near_button_error" ng-repeat="error in cschedC.errors">{{error}}</p>
                <p class="error_msg pull-right near_button_error" ng-show="cschedC.invalidFields.eventsReq"><i class="fa fa-warning"></i>&nbsp;&nbsp;Insert at least one event</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="row groupC_info">
                        <div class="col-md-11">
                            <h3><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Information</h3>
                            <table class="table">
                                <thead>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="font_bold">Name</td>
                                    <td>
                                        <input ng-model="groupC.data.groupCopy.name" ng-readonly="!groupC.editMode.flag"
                                               ng-class="{disabled : !groupC.editMode.flag, error_bordering : groupC.invalidFields.nameReq}">
                                        <p class="error_msg" ng-show="groupC.invalidFields.nameReq">Insert a name</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font_bold">Description</td>
                                    <td><textarea ng-model="groupC.data.groupCopy.description" ng-readonly="!groupC.editMode.flag"
                                                  ng-class="{disabled : !groupC.editMode.flag}"></textarea></td>
                                </tr>
                                <tr>
                                    <td class="font_bold">Planner</td>
                                    <td>{{groupC.data.group.planner_name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <button class="main_button" ng-click="groupC.changePlanner.init()" ng-show="groupC.editMode.flag">Change planner</button>
                                <button class="secondary_button" ng-show="groupC.editMode.flag" ng-click="groupC.delete()"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete group</button>
                            </div>
                            <div class="errorContainer" ng-show="groupC.editMode.flag && (groupC.thereErrors.info || groupC.errors.info.length > 0)">
                                <p ng-repeat="error in groupC.errors.info">{{error}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  groupC_members">
                    <h3><i class="fa fa-users"></i>&nbsp;&nbsp;Members</h3>
                    <p class="text-danger" ng-repeat="error in groupC.errors.planner">{{error}}</p>
                    <br>
                    <div ng-repeat=" member in groupC.data.members" class="clearfix">
                        <a href="/#/organization/users/{{member.id}}">{{member.name}}
                        </a>
                        <span class="fa fa-trash-o fa-lg pull-right" ng-show="groupC.editMode.flag" ng-click="groupC.deleteFromGroup(member.id)">
                        </span>
                    </div>
                    <button style="margin-top: 15px" ng-show="groupC.editMode.flag" class="main_button" ng-click="groupC.addToGroup.init()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add user to group</button>
                </div>
            </div>
        </div>

    </div>
    <div class="row changeBar">
        <div class="col-md-12">

        </div>
    </div>
</div>
</div>
<div id="changePlanner" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Change Planner</h3>
            </div>
            <div class="modal-body">
                <div>
                    <p class="font_bold">Current group planner:</p>
                    <p>{{groupC.data.group.planner_name}}</p>
                </div>
                <br/>
                <div class="search_input">
                    <i class="fa fa-search fa-lg"></i>
                    <input type="search" ng-model="searchedPlanner" placeholder="Search for a user"/>
                </div>

                <table class="table">
                    <thead>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in groupC.allUsers | filter: searchedPlanner | paginationFilter: groupC.pagination.user.filterString" >
                            <td>{{user.name}}</td>
                            <td>
                                <label class="list_radio">
                                    <input type="radio" ng-model="groupC.changePlanner.plannerId" ng-value="user.id"/>
                                    <span class="text"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="list-unstyled list-inline pagination">
                    <li ng-class="{underlinedPage : groupC.pagination.user.currentPage === ($index + 1)}" ng-click="groupC.pagination.user.changePage($index+1)" ng-repeat="x in groupC.pagination.user.utilArray track by $index | limitTo: 4">{{$index+1}}</li>
                </ul>
            </div>
            <p class="error_tile" class="error_msg" ng-repeat="error in odashC.addGroup.errors"><i class="fa fa-warning"></i>&nbsp;&nbsp;{{error}}</p>
            <p ng-show="odashC.addGroup.invalidFields.membersReq" class="error_tile"><i class="fa fa-warning"></i>&nbsp;&nbsp;Insert at least one member</p>
            <p ng-show="odashC.addGroup.invalidFields.plannerReq" class="error_tile"><i class="fa fa-warning"></i>&nbsp;&nbsp;Insert one planner</p>
            <div class="modal-footer">
                <button type="button" class="secondary_button" data-dismiss="modal">Close</button>
                <button type="button" class="main_button" ng-click="groupC.changePlanner.change()">Change</button>
            </div>
        </div>
    </div>
</div>
<div id="addToGroup" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add users to group</h3>
            </div>
            <div class="modal-body">
                <div class="search_input">
                    <i class="fa fa-search fa-lg"></i>
                    <input type="search" ng-model="searchedPlanner" placeholder="Search for a user"/>
                </div>

                <table class="table">
                    <thead>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in groupC.allUsers | filter: searchedPlanner | paginationFilter: groupC.pagination.user.filterString" >
                        <td>{{user.name}}</td>
                        <td>
                            <label class="list_checkbox">
                                <input type="checkbox" ng-model="groupC.addToGroup.members[user.id]"/>
                                <span class="text"></span>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="list-unstyled list-inline pagination">
                    <li ng-class="{underlinedPage : groupC.pagination.user.currentPage === ($index + 1)}" ng-click="groupC.pagination.user.changePage($index+1)" ng-repeat="x in groupC.pagination.user.utilArray track by $index | limitTo: 4">{{$index+1}}</li>
                </ul>
            </div>
            <p class="error_tile" class="error_msg" ng-repeat="error in odashC.addGroup.errors"><i class="fa fa-warning"></i>&nbsp;&nbsp;{{error}}</p>
            <p ng-show="odashC.addGroup.invalidFields.membersReq" class="error_tile"><i class="fa fa-warning"></i>&nbsp;&nbsp;Insert at least one member</p>
            <p ng-show="odashC.addGroup.invalidFields.plannerReq" class="error_tile"><i class="fa fa-warning"></i>&nbsp;&nbsp;Insert one planner</p>
            <div class="modal-footer">
                <button type="button" class="secondary_button" data-dismiss="modal">Close</button>
                <button type="button" class="main_button" ng-click="groupC.addToGroup.change()">Add users</button>
            </div>
        </div>
    </div>
</div>
<div id="authorizationPopup" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-center">
                <img src="assets/img/484.GIF" alt=""/>

                <h2>&nbsp;&nbsp;{{groupC.confirmPopup.message}}</h2>
            </div>
            <br/>
        </div>
    </div>
</div>

