<div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- HEADER -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Plunner</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/organization">Dashboard</a></li>
        <li><a href="/#/organization/profile">
          <span class="glyphicon glyphicon-user"></span> Organization Name</a></li>
          <li><a href="#">How To</a></li>
          <li><a href="#">Contact</a></li>
          <li>
            <button type="button" class="btn btn-danger navbar-btn" logout redirect="/">Sign Out</button>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="page-content">
    <div class="container">
    <style>
    .disabled {
      border: none;
      cursor: text;
    }

    textarea {
      resize: none;
      outline: none;
    }
    </style>
    <div class="row">
      <h2>Group detail</h2>

      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="text-bold">
            Name :
            <input ng-model="groupC.data.groupC.name" ng-readonly="!groupC.inchange"
            ng-class="{disabled : !groupC.inchange}">
          </li>
          <li>Description :
            <textarea ng-model="groupC.data.groupC.description" ng-readonly="!groupC.inchange"
            ng-class="{disabled : !groupC.inchange}"></textarea>
          </li>
        </ul>
        <br>
        <button class="btn btn-default" ng-hide="groupC.inchange" ng-disabled="groupC.inchange" ng-click="groupC.inchange = true">Edit name and description
        </button>
        <p class="text-danger" ng-repeat="error in groupC.errors.info">{{error}}</p>
        <button class="btn btn-default" ng-show="groupC.inchange" ng-disabled="!groupC.inchange"
        ng-click="groupC.updateInfo()">Change
      </button>
      <button class="btn btn-danger" ng-click="groupC.delete()">Delete group</button>
    </div>
    <div class="col-md-6">
      <h3>Members</h3>
      <p class="text-danger" ng-repeat="error in groupC.errors.planner">{{error}}</p>
      <br>
      <ul class="list-unstyled">
        <li ng-repeat="member in groupC.data.members">
          <div class="row">
            <div class="col-md-4">
              <p>{{member.name}}</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-default btn-sm" ng-if="member.id !== groupC.data.group.planner_id" ng-click="groupC.updatePlanner(member.id)">Make planner
            </button>
            <p style="float:left; margin-left:20px" ng-show="member.id === groupC.data.group.planner_id" class="text-primary">Planner</p>
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger btn-sm" ng-click="groupC.deleteFromGroup(member.id)">
                Remove from this group
              </button>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<div id="confirmPopup" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h3 class="text-center">{{groupC.confirmPopup.message}}</h3>
        </div>
        <!--<div class="modal-footer">
      </div>-->
      <br/>
    </div>
  </div>
</div>
